<!--List Container-->
<ul class="dropdown-list-container">

  <!--First List-->
  <li class="dropdown-list">
    <!--List Title-->
    <a dropdown-prop="title">Building Details<i class="dropdown-icon"></i></a>
    <!--List Items-->
    <div class="dropdown-list-items dropdown-list-open">
      <fieldset>
      {{#each item in physicalAsset}}
        <label>{{item.key}}:</label>
        {{#each value in item.values}}
          {{input readonly=true value=value}}
        {{/each}}
      {{/each}}
      </fieldset>
    </div>
  </li>

  <!--Second List-->
  <li class="dropdown-list">
    <!--List Title-->
    <a dropdown-prop="title">Plan Details<i class="dropdown-icon"></i></a>
    <!--List Items-->
    <div class="dropdown-list-items">
      <fieldset>
      {{#each item in digitalObject}}
        <label>{{item.key}}:</label>
        {{#each value in item.values}}
          {{input readonly=true value=value}}
        {{/each}}
      {{/each}}
      </fieldset>
    </div>
  </li>

  <!--Third List-->
  <li class="dropdown-list">
    <!--List Title-->
    <a dropdown-prop="title">File Details<i class="dropdown-icon"></i></a>
    <!--List Items-->
    <div class="dropdown-list-items">
      <fieldset>
        <label>Coming soon!</label>
      </fieldset>
    </div>
  </li>
</ul>
