<div class="l-building-list c-building-list">
  {{#each-in buildings as |uri building|}}
    {{building-list-item uri=uri model=building showDetailsClicked="showDetails" openBuildingClicked="openBuilding"}}
  {{/each-in}}
</div>
