<div class="c-duraark-building-filter">

  {{#duraark-sidebar-item}}
    {{multi-select choices=addressCountryItems selectionName="addressCountry" initialSelection=initialCountrySelection label="Select Country" onSelectionChange="filterChanged"}}
  {{/duraark-sidebar-item}}
  <!-- {{faux-select choices=addressCountryItems name="addressCountry" className="asdf" filterName="addressCountry" onSelectedChange="filterChanged"}} -->

</div>
