<div class="l-duraark-building-filter c-duraark-building-filter">
  {{#duraark-sidebar}}
    {{#duraark-sidebar-item name="By Country ..." }}
      {{multi-select choices=addressCountryItems selectionName="addressCountry" initialSelection=initialCountrySelection onSelectionChange="filterChanged"}}
    {{/duraark-sidebar-item}}

    {{#duraark-sidebar-item name="By Address ..." }}
      <div class="c-duraark-building-filter__address">
        {{#duraark-auto-complete options=addressLocalityItems valueProperty="addressLocality" inputClass="foobar" selectedValue=filters.addressLocalityItem placeHolderText="Enter address ..." noMesssagePlaceHolderText="No addresses found" as |item|}}
          <span>{{item.addressLocality}}</span>
          <p>{{item.countryName}}</p>
        {{/duraark-auto-complete}}
      </div>

      <h1>{{filters.addressLocalityItem}}</h1>
      
    {{/duraark-sidebar-item}}
  {{/duraark-sidebar}}
</div>
