<!-- Always shows a header, even in smaller screens. -->
<div class="duraark-header">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">{{title}}</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          {{#link-to "preingest" class="mdl-navigation__link" }}| Archive Buildings{{/link-to}}
          {{#link-to "retrieve" class="mdl-navigation__link" }}| Search Buildings{{/link-to}}
          {{#link-to "searchretrieve" class="mdl-navigation__link" }}| Search Knowledge Graph{{/link-to}}
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">{{title}}</span>
      <nav class="mdl-navigation">
        {{#link-to "preingest" class="mdl-navigation__link" }}| Archive Buildings{{/link-to}}
        {{#link-to "retrieve" class="mdl-navigation__link" }}| Search Buildings{{/link-to}}
        {{#link-to "searchretrieve" class="mdl-navigation__link" }}| Search Knowledge Graph{{/link-to}}
      </nav>
    </div>
  </div>
</div>
