<div class="duraark-header">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
  <!-- <div class="mdl-layout mdl-layout--fixed-header mdl-layout--fixed-tabs"> -->
    <header class="mdl-layout__header">
      {{#link-to 'index'}}<img class='logo-small-left' src="logos/logo-duraark_white_icon-only.png" alt="DURAARK logo">{{/link-to}}
      <!-- {{#link-to 'index'}}<img class='logo-small-right' src="logos/logo-eu.png" alt="DURAARK logo">{{/link-to}} -->
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><a href="/preingest" style="color: white"><strong>{{title}}</strong></a></span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          {{#link-to "preingest" class="mdl-navigation__link" }}<i class="fa fa-database"></i>&nbsp; <strong>Archive Buildings </strong>{{/link-to}}
          {{#link-to "search" class="mdl-navigation__link" }}<i class="fa fa-binoculars"></i>&nbsp; <strong>Search Buildings </strong>{{/link-to}}
          {{#link-to "explore" class="mdl-navigation__link" }}<i class="fa fa-lightbulb-o fa-lg"></i>&nbsp; <strong>Explore Context Information</strong>{{/link-to}}
          <!-- {{#link-to "index" class="mdl-navigation__link" }}<i class="fa fa-home fa-lg"></i>&nbsp; <strong>Home </strong>{{/link-to}} -->
        </nav>
      </div>
      {{#if showWorkflowSteps}}
        <!-- <div class="mdl-layout__tab-bar mdl-js-ripple-effect"> --> <!-- FIXXME: 'mdl-js-ripple-effect' seems to cause display error -->
        <div class="mdl-layout__tab-bar">
          {{#link-to 'preingest.files' session classBinding=":mdl-layout__tab filesActive:is-active"}}<i class="fa fa-folder-o"></i>&nbsp; 1 | Files{{/link-to}}
          {{#link-to 'preingest.metadata' session classBinding=":mdl-layout__tab metadataActive:is-active"}}<i class="fa fa-file-text-o"></i>&nbsp; 2 | Metadata{{/link-to}}
          {{#link-to 'preingest.geometricenrichment' session classBinding=":mdl-layout__tab geometricenrichmentActive:is-active"}}<i class="fa fa-building-o"></i>&nbsp; 3 | Geometric Tools{{/link-to}}
          {{#link-to 'preingest.semanticenrichment' session classBinding=":mdl-layout__tab semanticenrichmentActive:is-active"}}<i class="fa fa-lightbulb-o"></i>&nbsp; 4 | Context Information{{/link-to}}
          {{#link-to 'preingest.digitalpreservation' session classBinding=":mdl-layout__tab digitalpreservationActive:is-active"}}<i class="fa fa-database"></i>&nbsp; 5 | Digital Preservation{{/link-to}}
        </div>
      {{/if}}
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title"><strong>{{title}}</strong></span>
      <nav class="mdl-navigation">
        {{#link-to "preingest" class="mdl-navigation__link" }}<i class="mdi mdi-package"></i> Archive Buildings{{/link-to}}
        {{#link-to "search" class="mdl-navigation__link" }}| Search Buildings{{/link-to}}
        {{#link-to "explore" class="mdl-navigation__link" }}| Explore Knowledge Graph{{/link-to}}
      </nav>
    </div>
    <main class="mdl-layout__content"></main>
  </div>

</div>
