<div class="c-duraark-building-filter">

  {{multi-select choices=addressCountryItems selectionName="addressCountry" initialSelection=initialCountrySelection label="Select Country" onSelectionChange="filterChanged"}}

  <!-- {{faux-select choices=addressCountryItems name="addressCountry" className="asdf" filterName="addressCountry" onSelectedChange="filterChanged"}} -->

</div>
