<div class="l-duraark-preingest-steps c-duraark-preingest-steps is-casting-shadow">
    {{#link-to 'preingest.files' session class="l-5-item"}}<i class="fa fa-folder-o"></i>&nbsp; 1 | Files{{/link-to}}
    {{#link-to 'preingest.metadata' session class="l-5-item"}}<i class="fa fa-file-text-o"></i>&nbsp; 2 | Metadata{{/link-to}}
    {{#link-to 'preingest.geometricenrichment' session class="l-5-item"}}<i class="fa fa-building-o"></i>&nbsp; 3 | Geometric Tools{{/link-to}}
    {{#link-to 'preingest.semanticenrichment' session class="l-5-item"}}<i class="fa fa-lightbulb-o"></i>&nbsp; 4 | Context Information{{/link-to}}
    {{#link-to 'preingest.digitalpreservation' session class="l-5-item"}}<i class="fa fa-database"></i>&nbsp; 5 | Digital Preservation{{/link-to}}
  </div>
