<div class="c-duraark-header is-casting-shadow">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
      {{#link-to 'index'}}
        <img class='logo-small-left c-duraark-header-title' src="logos/logo-duraark_white_icon-only.png" alt="DURAARK logo">
      {{/link-to}}
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">
          {{#link-to "index" class="c-duraark-header__title" }}DURAARK Workbench{{/link-to}}
        </span>
        <nav class="c-duraark-header__navigation-bar">
          {{#link-to "advancedsearch" class="c-duraark-header__nagivation-item mdl-navigation__link" }}<i class="fa fa-binoculars"></i>&nbsp;
            <strong>Search Buildings </strong>
          {{/link-to}}
          {{#link-to "preingest" class="c-duraark-header__nagivation-item mdl-navigation__link" }}<i class="fa fa-database"></i>&nbsp;
            <strong>Ingest Buildings </strong>
          {{/link-to}}
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">
        <strong>DURAARK Workbench</strong>
      </span>
      <nav class="mdl-navigation">
        {{#link-to "preingest" class="mdl-navigation__link" }}<i class="mdi mdi-package"></i> Archive Buildings{{/link-to}}
        {{#link-to "advancedsearch" class="mdl-navigation__link" }}| Search Buildings{{/link-to}}
      </nav>
    </div>
    <main class="mdl-layout__content"></main>
  </div>

</div>
