<div class="duraark-footer">
  <footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
      <ul class="mdl-mini-footer__link-list">
        <li>
          <img class='logo-small-left' src="logos/logo-eu.png" alt="EU logo">
        </li>
        <li>
            <strong>General information:</strong>&nbsp; <i class="fa fa-external-link"></i>&nbsp; <a href="http://duraark.eu" target="_blank">http://duraark.eu</a>
        </li>
        <li>
            <strong>Download datasets and schemas:</strong>&nbsp; <i class="fa fa-external-link"></i>&nbsp; <a href="http://data.duraark.eu" target="_blank">http://data.duraark.eu</a>
        </li>
        <li>
            <strong>Github (+ API reference links):</strong>&nbsp; <i class="fa fa-external-link"></i>&nbsp; <a href="https://github.com/DURAARK/duraark-system" target="_blank">http://github.com/DURAARK/duraark-system</a>
        </li>
      </ul>
    </div>
    <div class="mdl-mini-footer__right-section">
      <!-- <div class="mdl-logo" style="margin-right: 5em;"><i class="fa fa-copyright"></i>&nbsp; DURAARK Consortium</div> -->
      <!-- <div class="mdl-logo"><i class="fa fa-copyright"></i>&nbsp; DURAARK Consortium</div> -->
    </div>
  </footer>
</div>
