<div class="duraark-header">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{{title}}</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          {{#link-to "preingest" class="mdl-navigation__link" }}<i class="fa fa-archive"></i>&nbsp; Archive Buildings{{/link-to}}
          {{#link-to "retrieve" class="mdl-navigation__link" }}<i class="fa fa-binoculars"></i>&nbsp; Search Buildings{{/link-to}}
          {{#link-to "searchretrieve" class="mdl-navigation__link" }}<i class="fa fa-lightbulb-o"></i>&nbsp; Search Knowledge Graph{{/link-to}}
        </nav>
      </div>
      {{#if showWorkflowSteps}}
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
          {{#link-to 'preingest.files' session classBinding=":mdl-layout__tab filesActive:is-active"}}<i class="fa fa-folder-o"></i>&nbsp; Files{{/link-to}}
          {{#link-to 'preingest.metadata' session classBinding=":mdl-layout__tab metadataActive:is-active"}}<i class="fa fa-file-text-o"></i>&nbsp; Metadata{{/link-to}}
          {{#link-to 'preingest.semanticenrichment' session classBinding=":mdl-layout__tab semanticenrichmentActive:is-active"}}<i class="fa fa-external-link"></i>&nbsp; Context Information{{/link-to}}
          {{#link-to 'preingest.geometricenrichment' session classBinding=":mdl-layout__tab geometricenrichmentActive:is-active"}}<i class="fa fa-circle-o"></i>&nbsp; Geometric Tools{{/link-to}}
          {{#link-to 'preingest.digitalpreservation' session classBinding=":mdl-layout__tab digitalpreservationActive:is-active"}}<i class="fa fa-database"></i>&nbsp; Digital Preservation{{/link-to}}
        </div>
      {{/if}}
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">{{title}}</span>
      <nav class="mdl-navigation">
        {{#link-to "preingest" class="mdl-navigation__link" }}<i class="mdi mdi-package"></i> Archive Buildings{{/link-to}}
        {{#link-to "retrieve" class="mdl-navigation__link" }}| Search Buildings{{/link-to}}
        {{#link-to "searchretrieve" class="mdl-navigation__link" }}| Search Knowledge Graph{{/link-to}}
      </nav>
    </div>
    <main class="mdl-layout__content"></main>
  </div>

</div>
