<section class="post-controls">
    <a class="btn btn-default post-edit" {{action "editFiles" stage}}> Edit</a>
</section>

<br>

{{#if stage.files.length}}

	<span class="da-workflow-description-small">Included files:</span>

	<br><br>

	<ul>
	{{#each file in stage.files}}
		{{file-item item=file onDelete="onDelete" isLoading=stage.isLoading}}	
	{{/each}}
	</ul>
	
{{else}}

<div style="text-align: left;">No files added yet.</div>

{{/if}}