<div class="l-file c-file">
	<div>

		<div class="c-file__header t-file">
			{{label}}
		</div>
		
		<div class="c-file__name">
			<label class="c-label-switch">
				{{input type="checkbox" checked=isChecked}}
				<div class="checkbox"></div>
			</label>

		</div>
	</div>

</div>
