<section class="post-controls">
    <a id="ember891" class="ember-view btn btn-default post-edit" href="/ghost/editor/1/"> Edit</a>
</section>

<br>

{{#if model.enrichments.length}}

<span class="da-workflow-description-small">Following geometric enrichments are available:</span>

<ul>
{{#each model.enrichments}}
	<li>Application: {{application}} / enrichments: {{enrichments}}</li>
{{/each}}
</ul>

{{else}}

<div style="text-align: left;">No enrichments added yet.</div>

{{/if}}