<div class="c-ifc-reconstruction-tool">
  {{#if tool.hasError}}
    The BIM reconstruction failed. The error message was:
    <br>
    <br> {{tool.errorText}}
  {{else}}

    {{#unless tool.isLoading}}
      {{duraark-ifc-viewer}}
    {{else}}
      The reconstruction process generates a BIM model based on the point cloud information. The generated model is stored as IFC file within the archive.

      <br>
      <br> Currently the reconstruction is in progress, the IFC model will be available in a few minutes or hours, depending on the file size of the point cloud scan.
    {{/unless}}
  {{/if}}
</div>
