<div class="c-help-box__content">

  <h2 style="text-align: center;"><i style="margin-right: 1em;" class="fa fa-home"></i> IFC Reconstruction</h2>

  <hr>

  The reconstruction process generates a BIM model based on the point cloud information. The generated model is stored as IFC file within the archive.

  <!-- <br><br>

  <ul>
    <li>Number of rooms: {{tool.rooms}}</li>
    <li>Number of walls: {{tool.walls}}</li>
    <li>Total area: {{tool.area}}</li>
  </ul> -->

</div>
