<div class="l-cards c-cards">

  {{#each topic in topics}}
  <div class="l-card c-card" {{action "click" topic}}>
    <!-- <div class="c-card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div> -->
    <div class="c-help-box__header">
      <i class="fa fa-wrench"></i>
    </div>
    <div class="c-card-bg">
      <div class="c-card-header">
        {{topic.label}}
      </div>
      <div class="c-card-copy">
        <p>{{topic.description}}</p>
      </div>
    </div>
  </div>
  {{/each}}

</div>
