<div class="l-cards c-cards">

  {{#each topic in topics}}
  <div class="l-card c-card" {{action "click" topic}}>
    <div class="c-card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
    <div class="c-card-header">
      {{topic.label}}
    </div>
    <div class="c-card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>
  {{/each}}

</div>
