<div class="material-menu-wrapper">
  <div class="material-menu">
    <div class="material-btn">
      <div class="material-hamburger">
        <div class="material-patty"></div>
        <div class="material-patty"></div>
        <div class="material-patty"></div>
      </div>
    </div>
    <div class="material-content">
      <nav>
        <ul style="color: black;">
          <li><a href="">Add new building</a>
            <hr>
          </li>
          <!-- <li>{{#link-to "searchretrieve"}}Add new search{{/link-to}}</li> -->

          <li>
            <span>Name</span>
            <form action="#">
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample1" />
                <label class="mdl-textfield__label" for="sample1">Name...</label>
              </div>
            </form>

            <span>Address</span>
            <form action="#">
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample1" />
                <label class="mdl-textfield__label" for="sample1">Address...</label>
              </div>
            </form>

            <span>Description</span>
            <form action="#">
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample1" />
                <label class="mdl-textfield__label" for="sample1">Description...</label>
              </div>
            </form>
          </li>

          <li>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              CREATE
            </button>
          </li>
          <!-- <li>
            <div class="building-card-wide mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">
                  <form action="#">
                    <div class="mdl-textfield mdl-js-textfield">
                      <input class="mdl-textfield__input" type="text" id="sample1" />
                      <label class="mdl-textfield__label" for="sample1">Title...</label>
                    </div>
                    </form>
                </h2>
              </div>
              <div class="mdl-card__supporting-text">
                <form action="#">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="sample1" />
                    <label class="mdl-textfield__label" for="sample1">Address...</label>
                  </div>
                  </form>
              </div>
              <div class="mdl-card__supporting-text">
                <form action="#">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="sample1" />
                    <label class="mdl-textfield__label" for="sample1">Description...</label>
                  </div>
                  </form>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                SAVE
              </a>
              </div>
            </div>
          </li> -->

        </ul>
      </nav>
    </div>
  </div>
</div>

<main>
  {{yield}}
</main>
