<ol class="fe-list">

	{{#if file}}
		Showing metadata for "{{file.path}}"
		{{!-- Content: {{file.content}} --}}
		{{!-- Basefile: {{file.path}} --}}
	{{else}}
		<h3>Select file ...</h3>
	{{/if}}
</ol>