{{#if isBuildm}}
	<li class="da-file-entry"><div class="da-valid btn btn-green" title="Schema">{{item.schema}}</div>Descriptive metadata</li>
{{/if}}

{{#if isIfcm}}
	<li class="da-file-entry"><div class="da-valid btn btn-green" title="Schema">{{item.schema}}</div>Technical metadata</li>
{{/if}}

{{#if isE57m}}
	<li class="da-file-entry"><div class="da-valid btn btn-green" title="Schema">{{item.schema}}</div>Technical metadata</li>
{{/if}}