<section class="post-controls">
    <a class="btn btn-default post-edit" {{action "editFiles" stage}}> Edit</a>
</section>

<br>

{{#if stage.metadata.length}}

{{!-- <span class="da-workflow-description-small">Available metadata:</span> --}}

<ul>
	{{#each item in stage.metadata}}
		{{#if item}}
			{{metadata-item item=item}}
		{{else}}
			Requesting metadata, please wait...
		{{/if}}
	{{/each}}
</ul>

{{else}}

<div>No metadata added yet.</div>

{{/if}}