<div class="c-result-sidebar">

    {{buildm-editor buildm=selectedBuildm type="physicalAsset"}}

  <!-- {{#em-tabs}}
    {{#em-tab-list}}
      {{#em-tab}}One{{/em-tab}}
      {{#em-tab}}Two{{/em-tab}}
    {{/em-tab-list}}
    {{#em-tab-panel}}
      One Content...
    {{/em-tab-panel}}
    {{#em-tab-panel}}
    {{/em-tab-panel}}
  {{/em-tabs}} -->

</div>
