<li {{action "selectItem" item}}>                
		<span class="header">&#9737; {{resourceName}}</span>
</li>  
<div style="font-size: 15px;margin: 5px;">
	<span style="margin-left: 40px;margin-right: 10px;">></span><a target="_blank" href="{{unbound item.resourceUri}}">Resource URI</a> / <a target="_blank" href="{{unbound item.propertyUri}}">Property URI</a>
</div>

