<section class="post-controls">
    <a id="ember891" class="ember-view btn btn-default post-edit" href="/ghost/editor/1/"> Edit</a>
</section>

<br>

{{#if model.enrichments.length}}

<span class="da-workflow-description-small">Enriched metadata available, based on input configuration:</span>

<br><br>

<ul>
	<li>LOCATION</li>
	<li>CUSTOM CONCEPT #1</li>
	<li>CUSTOM CONCEPT #2</li>
</ul>

Enrichments: {{model.enrichments.length}}

<ul>
{{#each model.enrichments}}
	<li>Concept: {{concept}} / Value: {{value}}</li>	
{{/each}}

{{else}}

<div style="text-align: left;">No enrichments added yet.</div>

{{/if}}