<div class="c-sidebar-details">
  {{#if buildingFull}}
  {{log buildingFull}}
    {{buildm-editor buildm=buildingFull type="physicalAsset"}}
  {{else}}
    <h2>No building selected.</h2>
  {{/if}}
</div>
