<div class="wui-sip-generator">
	<ul class="fe-list">
		<li>                
			<a>
				<div class="header"><span style="margin-right: 5px;">&#9998;</span> Metadata<div class="da-valid btn btn-green btn-right">e57m</div>
				<div class="da-valid btn btn-green btn-right">ifcm</div>
				<div class="da-valid btn btn-green btn-right">buildm</div><br></div>
			</a>
		</li> 
	</ul>

	{{file-explorer items=stage.files}}

	<br><br>
	{{!-- <div style="margin-left: 44%;"> --}}
	<center>
	<button {{action "createRosettaSIP"}} class="btn btn-green btn-big" title="New Session">CREATE ROSETTA SIP</button>
	{{!-- </div> --}}
	</center>
</div>

