<!-- Code thankfully adapted from http://codepen.io/arjancodes/pen/jErbyM -->
<div class="material-menu-wrapper">
  <div class="material-menu">
    <div class="material-content">
      {{yield}}
    </div>
  </div>
</div>

<div class="material-btn">
  <div class="material-hamburger">
    <div class="material-patty"></div>
    <div class="material-patty-vertical"></div>
    <!-- <div class="material-patty"></div>
    <div class="material-patty"></div> -->
  </div>
</div>
<!-- <main>
</main> -->
