<div class="l-file c-file">
	<div style="position: relative;">
		<!-- {{#if tool.isLoading}}
			{{loading-spinner-small}}
		{{/if}} -->

		<div class="c-tool-item__header" {{action "infoClicked" tool}}>
		Details &nbsp;<i class="fa fa-arrow-circle-o-right fa-lg"></i>
			<!-- <span style="float: right; margin-right: 2.9em; margin-top: 0.1em;">
					<i class="fa fa-info-circle"></i>
				</span> -->
		</div>

		<div class="c-file__name" style="text-align: center;">
			{{tool.label}}
		</div>

	</div>
	<div class="c-file__actions">
		<div {{action "remove" tool}} class="c-file__action" style="float: left;">
			{{#unless static}}
				<i class="fa fa-remove"></i>
			{{/unless}}
		</div>
	</div>

</div>
