<div class="l-file c-file highlight-border">
	<div {{action "select" topic}}>

		<div class="c-help-box__header">
			<i class="fa fa-wrench"></i>
		</div>

		<div class="c-file__name center">
			{{topic.label}}
		</div>

	</div>

	<div class="c-file__actions">
		<div {{action "remove" topic}} class="c-file__action">
			<i class="fa fa-remove"></i>
		</div>
	</div>

</div>
