<section class="post-controls">
    <a class="btn btn-default post-edit" {{action "editFiles" model.files}}> Edit</a>
</section>

<br>

{{#if model.files.length}}

	<span class="da-workflow-description-small">Added to archive:</span>

	<br><br>

	<ul>
	{{#each file in model.files}}
		<li>{{file.path}} &#8594; valid: yes</li>
	{{/each}}
	</ul>

	Status: {{model.status}}
	
{{else}}

<div style="text-align: left;">No files added yet.</div>

{{/if}}