<section class="post-controls">
    <a class="btn btn-default post-edit" {{action "editFiles" stage.model}}> Edit</a>
</section>

<br>

{{#if stage.model.length}}

	<span class="da-workflow-description-small">Added to archive:</span>

	<br><br>

	<ul>
	{{#each file in stage.model}}
		<li>{{file.path}} &#8594; valid: yes</li>
	{{/each}}
	</ul>

	Status: {{stage.status}}
	
{{else}}

<div style="text-align: left;">No model added yet.</div>

{{/if}}