<section class="post-controls">
    <a id="ember891" class="ember-view btn btn-default post-edit" href="/ghost/editor/1/"> Edit</a>
</section>

<br>

{{#if model.length}}

<span class="da-workflow-description-small">SIP Generation was not started yet.</span>

{{else}}

<div style="text-align: left;">No archive added yet.</div>

{{/if}}