<section class="post-controls">
    <a id="ember891" class="ember-view btn btn-default post-edit" href="/ghost/editor/1/"> Edit</a>
</section>

<br>

{{log model}}
{{#if model.files.length}}

<span class="da-workflow-description-small">Available metadata</span>

<ul>
	{{#each model.files}}
		<li class="da-file-entry"><div class="da-valid btn btn-green" title="Schema"> {{schema}}</div> {{path}}</li>
	{{/each}}
</ul>

{{else}}

<div style="text-align: left;">No metadata added yet.</div>

{{/if}}