<section class="post-controls">
    <a id="ember891" class="ember-view btn btn-default post-edit" href="/ghost/editor/1/"> Edit</a>
</section>

<br>

<span class="da-workflow-description-small">Available metadata</span>

<br><br>

<ul>
	<li>e57m (technical)</li>
	<li>ifcm (technical)</li>
	<li>buildm (descriptive)</li>
</ul>