<section class="post-controls">
    <a id="ember891" class="ember-view btn btn-default post-edit" href="/ghost/editor/1/"> Edit</a>
</section>

<br>

<span class="da-workflow-description-small">Following geometric enrichment steps are available:</span>

<br><br>

<ul>
	<li>Reconstruct IFC</li>
	<li>Difference analysis</li>
	<li>Detection of nearly invisible elements</li>
</ul>
