<section class="post-controls">
    <a id="ember891" class="ember-view btn btn-default post-edit" href="/ghost/editor/1/"> Edit</a>
</section>

<br>

{{#if model.files.length}}

<span class="da-workflow-description-small">SIP Content:</span>

<ul>
	{{#each file in model.files}}
		<li>{{file.path}}</li>
	{{/each}}
</ul>

Status: {{model.status}} <br>
Archiv-Download: {{model.archive}}

{{else}}

<div style="text-align: left;">No archive added yet.</div>

{{/if}}