<!-- Begin stages component -->
<ul class="accordion-tabs">
  <li class="tab-header-and-content">
	<a href="javascript:void(0)" class="is-active tab-link">Archival</a>
	<div class="tab-content">
	  {{#link-to "workflows.files" class="l-stage c-stage"}}
		  <div class="c-stage__frame c-stage__files active">
			<div class="c-stage__name">
			  <h3><i class="fa fa-file"></i> Files</h3>
			</div>
		  </div>
		{{/link-to}}

		{{#link-to "workflows.metadata" class="l-stage c-stage"}}
		  <div class="c-stage__frame c-stage__metadata">
			<div class="c-stage__name">
			  <h3><i class="fa fa-puzzle-piece"></i> Metadata</h3>
			</div>
		  </div>
		{{/link-to}}
		
		{{#link-to "workflows.semanticenrichment" class="l-stage c-stage"}}
		  <div class="c-stage__frame c-stage__semenrich">
			<div class="c-stage__name">
			  <h3><i class="fa fa-pencil"></i> Semantic Enrichment</h3>
			</div>
		  </div>
		{{/link-to}}
		
		{{#link-to "workflows.geometricenrichment" class="l-stage c-stage"}}
		  <div class="c-stage__frame c-stage__geoenrich">
			<div class="c-stage__name">
			  <h3><i class="fa fa-paint-brush"></i> Geometric Enrichment</h3>
			</div>
		  </div>
		{{/link-to}}

		{{#link-to "workflows.files" class="l-stage c-stage"}}
		  <div class="c-stage__frame c-stage__geoenrich">
			<div class="c-stage__name">
			  <h3><i class="fa fa-paint-brush"></i> Store</h3>
			</div>
		  </div>
		{{/link-to}}	
	</div>
  </li>
  <li class="tab-header-and-content">
	<a href="javascript:void(0)" class="tab-link">Retrieval</a>
	<div class="tab-content">

	    {{#link-to "workflows.retrieval" class="l-stage c-stage"}}
	      <div class="c-stage__frame c-stage__files active">
	        <div class="c-stage__name">
	          <h3><i class="fa fa-filter"></i> Filters</h3>
	        </div>
	      </div>
	    {{/link-to}}

	    {{#link-to "workflows.retrieval-custom" class="l-stage c-stage"}}
	      <div class="c-stage__frame c-stage__metadata">
	        <div class="c-stage__name">
	          <h3><i class="fa fa-puzzle-piece"></i> Custom Search</h3>
	        </div>
	      </div>
	    {{/link-to}}

	</div>
  </li>
  <li class="tab-header-and-content">
	<a href="javascript:void(0)" class="tab-link">Maintenance</a>
	<div class="tab-content">

	  {{#link-to "workflows.retrieval" class="l-stage c-stage"}}
	      <div class="c-stage__frame c-stage__files active">
	        <div class="c-stage__name">
	          <h3><i class="fa fa-filter"></i> Convert File Format</h3>
	        </div>
	      </div>
	    {{/link-to}}

	    {{#link-to "workflows.retrieval-custom" class="l-stage c-stage"}}
	      <div class="c-stage__frame c-stage__metadata">
	        <div class="c-stage__name">
	          <h3><i class="fa fa-puzzle-piece"></i> Update enrichment</h3>
	        </div>
	      </div>
	    {{/link-to}}

	    {{#link-to "workflows.retrieval-custom" class="l-stage c-stage"}}
	      <div class="c-stage__frame c-stage__metadata">
	        <div class="c-stage__name">
	          <h3><i class="fa fa-puzzle-piece"></i> Check session integrity</h3>
	        </div>
	      </div>
	    {{/link-to}}

	</div>
  </li>
</ul>
