<!-- Begin stages component -->
<ul class="accordion-tabs">
  <li class="tab-header-and-content">
	<a href="javascript:void(0)" class="is-active tab-link">Archival</a>
	<div class="tab-content">
	
	  {{#link-to "workflows.files" class="l-stage c-stage"}}
		  <div class="c-stage__frame c-stage__files active">
			<div class="c-stage__name">
			  <h2><i class="fa fa-file"></i></h2>
			  <h3>Files</h3>
			</div>
		  </div>
		{{/link-to}}

		{{#link-to "workflows.metadata" class="l-stage c-stage"}}
		  <div class="c-stage__frame c-stage__metadata">
			<div class="c-stage__name">
			  <h2><i class="fa fa-pencil"></i></h2>
			  <h3>Metadata</h3>
			</div>
		  </div>
		{{/link-to}}
		
		{{#link-to "workflows.semanticenrichment" class="l-stage c-stage"}}
		  <div class="c-stage__frame c-stage__semenrich">
			<div class="c-stage__name">
			  <h2><i class="fa fa-puzzle-piece"></i></h2>
			  <h3>Semantic Enrichment</h3>
			</div>
		  </div>
		{{/link-to}}
		
		{{#link-to "workflows.geometricenrichment" class="l-stage c-stage"}}
		  <div class="c-stage__frame c-stage__geoenrich">
			<div class="c-stage__name">
			  <h2><i class="fa fa-cube"></i></h2>
			  <h3>Geometric Enrichment</h3>
			</div>
		  </div>
		{{/link-to}}

		{{#link-to "workflows.archiveexpert" class="l-stage c-stage"}}
		  <div class="c-stage__frame c-stage__geoenrich">
			<div class="c-stage__name">
			  <h2><i class="fa fa-archive"></i></h2>
			  <h3>Store</h3>
			</div>
		  </div>
		{{/link-to}}	

	</div>
  </li>
  <li class="tab-header-and-content">
	<a href="javascript:void(0)" class="tab-link">Retrieval</a>
	<div class="tab-content">

	    {{#link-to "workflows.retrieval" class="l-stage c-stage"}}
	      <div class="c-stage__frame c-stage__files active">
	        <div class="c-stage__name">
	          <h2><i class="fa fa-filter"></i></h2>
	          <h3>Filters</h3>
	        </div>
	      </div>
	    {{/link-to}}

	    {{#link-to "workflows.retrieval-custom" class="l-stage c-stage"}}
	      <div class="c-stage__frame c-stage__metadata">
	        <div class="c-stage__name">
	          <h2><i class="fa fa-puzzle-piece"></i></h2>
	          <h3>Custom Search</h3>
	        </div>
	      </div>
	    {{/link-to}}

	</div>
  </li>
  <li class="tab-header-and-content">
	<a href="javascript:void(0)" class="tab-link">Maintenance</a>
	<div class="tab-content">

	{{#link-to "workflows.retrieval-custom" class="l-stage c-stage"}}
	  <div class="c-stage__frame c-stage__metadata">
	    <div class="c-stage__name">
	      <h2><i class="fa fa-puzzle-piece"></i></h2>
	      <h3>Store SDA snapshot</h3>
	    </div>
	  </div>
	{{/link-to}}

	{{#link-to "workflows.retrieval" class="l-stage c-stage"}}
	    <div class="c-stage__frame c-stage__files active">
	      <div class="c-stage__name">
	        <h2><i class="fa fa-filter"></i></h2>
	        <h3>Update Schema</h3>
	      </div>
	    </div>
	  {{/link-to}}

	{{#link-to "workflows.retrieval-custom" class="l-stage c-stage"}}
	  <div class="c-stage__frame c-stage__metadata">
	    <div class="c-stage__name">
	      <h2><i class="fa fa-puzzle-piece"></i></h2>
	      <h3>Check session integrity</h3>
	    </div>
	  </div>
	{{/link-to}}

	</div>
  </li>
</ul>
