ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
    background: #edece4;
}

main {
    position: absolute;
    top: 75px;
    right: 15px;
    bottom: 0;
    left: 15px;
    padding: 0;
}