@import "bower_components/susy/sass/susy";

.da-session-header {
	margin-bottom: 25px;
	font-size: 3em;
	text-align: center;
}

.da-session-workflow-header {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #edece4;
	line-height: .1em;
	margin: 30px 0 7px;
}

.da-session-workflow-header span {
	background: #fff;
	color: #929292;
	font-size: 16px;
	padding: 0 10px;
	line-height: 0.75em;
}

.da-valid {
	margin-right: 12px;
}

.da-file-entry {
	margin-bottom: 10px;
}

.da-session-start {
	color: #929292;
	font-size: 3em;
	text-align: center;
	margin-left: 0.8em;
}

.da-session-next {
	margin-top: 40px;
	color: #929292;
	font-size: 2em;
	text-align: center;
}

.da-workflow-description-small {
	font-size: 1.5em;
	text-align: center;
}

.content-list ol li a:hover {
    box-shadow: rgba(0,0,0,0.1) 7px 0 0 inset;
    @include transition(all 0.2s ease);
}

.content-list ol li.active {
    border-bottom: #e8eaeb 1px solid;
    background: #f6f6f7;
    box-shadow: #e8eaeb 0 -1px 0,rgba(0,0,0,0.06) 7px 0 0 inset,#e8eaeb 1px 0 0 inset;
}

.content-list ol li a {
    display: block;
    padding: 20px 15px;
    color: #aaa9a2;
}

.content-list ol li a {
    display: block;
    padding: 20px 15px;
    color: #aaa9a2;
}

.content-list ol li.active .entry-meta {
    color: #242628;
}

.workflow-header {
	text-align: center;
	border-bottom: 1px solid #edece4;
	line-height: .1em;
	margin: 30px 0 7px;
}

.workflow-header span {
	background: #fff;
	color: #929292;
	font-size: 16px;
	padding: 0 10px;
}