
.maintenance-iframe {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

.maintenance-link {
    font-size: 20px;
    margin: 0;
    padding: 15px;

    color: black;
}

.js-sidebar-disabled {
    // position: relative;
    width: 100px;
}