.l-search-left-sidebar {
  z-index: 1001;

  position: absolute;
  top: 0;
  left: 0;
  // bottom: $footer-height + $header-height;

  width: 25%;
  overflow: auto;
}
.l-search-right-sidebar {
  z-index: 1001;

  position: absolute;
  top: 0;
  right: 0;
  bottom: $footer-height;

  width: 25%;
  overflow: auto;
}
