.l-tools {
  padding: 2em;
}
.l-tool-gallery {
  margin-top: 2em;

  .l-tool {
    @include gallery(1 of 3);
  }
}
.c-tool__header {
  color: color(white);
  margin-top: 0.5ex;
  margin-bottom: 1ex;
  text-align: center;
}
.l-tool-box {
  margin-top: 2em;
}
