@import "wui-config";

.wui-alpha-feature-note {
    background-color: $alphaFeatureNote-background-color;

    padding: 10px;
    
    border-width: 2px;
    border-style: solid;
    border-color: $alphaFeatureNote-border-color;
    border-radius: 8px;
}