  <div class="c-button-list__category">
    <h4>Store</h4>
  </div>

  <div class="c-button-list__content">

  {{#link-to "workflows.select-files" class="c-button"}}
    <div class="c-button__frame t-button-files">
      <div class="c-button__name">
        <h3>Rosetta Upload</h3>
      </div>
    </div>
  {{/link-to}}

  {{#link-to "workflows.select-files" class="c-button"}}
    <div class="c-button__frame t-button-files">
      <div class="c-button__name">
        <h3>Store locally</h3>
      </div>
    </div>
  {{/link-to}}

  </div>

<div class="c-file-list">
  <div class="c-file-list__category">
    <h4>Overview: 3D Files</h4>
{{!--     <div class="o-selection-button">
      <button type="button" class="o-selection-button__button" name="add">Add ...</button>
      <div class="o-selection-button__list">
        <ul>
          <li>
            <h4>Local</h4>
          </li>
          <li>
            <h4>bimsync</h4>
          </li>
          <li>
            <h4>Rosetta</h4>
          </li>
        </ul>
      </div>
    </div> --}}
  </div>
  <div class="c-file-list__listing">
    <div class="c-file">
      <div class="c-file__header t-file">
        Pointcloud (E57)
      </div>
      <div class="c-file__name">
        <h3>Haus30-Scan-2014-05-24.e57</h3>
        <div class="c-file__size">
          <h4>382 MB</h4>
        </div>
      </div>
      <div class="c-file__actions">
         <div class="c-file__action">
            <i class="fa fa-times"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-edit"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-eye"></i>
          </div>
      </div>
    </div>
    <div class="c-file">
      <div class="c-file__header t-file">
        Pointcloud (E57)
      </div>
      <div class="c-file__name">
        <h3>Haus30-Scan-2012-05-24.e57</h3>
        <div class="c-file__size">
          <h4>273 MB</h4>
        </div>
      </div>
      <div class="c-file__actions">
         <div class="c-file__action">
            <i class="fa fa-times"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-edit"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-eye"></i>
          </div>
      </div>
    </div>
    <div class="c-file">
      <div class="c-file__header t-file">
        3D Model (IFC)
      </div>
      <div class="c-file__name">
        <h3>Haus30.ifc</h3>
        <div class="c-file__size">
          <h4>382 MB</h4>
        </div>
      </div>
      <div class="c-file__actions">
        <div class="c-file__action">
            <i class="fa fa-times"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-edit"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-eye"></i>
          </div>
        <div class="c-file__action">
            <i class="fa fa-download"></i>
        </div>
      </div>
    </div>

    <div class="c-action-tile">
      <div class="c-action-tile__name">
        <h3>ADD</h3>
      </div>
      <div class="c-action-tile__actions">
        <div class="c-action-tile__action">
          Local
        </div>
        <div class="c-action-tile__action">
          Rosetta
        </div>
        <div class="c-action-tile__action">
          bimsync
        </div>
      </div>
    </div>

  </div>
</div>

<div class="c-file-list">
  <div class="c-file-list__category">
    <h4>Overview: Metadata Files</h4>
  </div>
  <div class="c-file-list__listing">
    <div class="c-file">
      <div class="c-file__header">
        Descriptive Metadata (buildm)
      </div>
      <div class="c-file__name">
        <h3>buildm.xml</h3>
        <div class="c-file__size">
          <h4>200 KB</h4>
        </div>
      </div>
      <div class="c-file__actions">
        <div class="c-file__action">
          <i class="fa fa-edit"></i>
        </div>
        <div class="c-file__action">
          <i class="fa fa-download"></i>
        </div>
      </div>
    </div>
    <div class="c-file">
      <div class="c-file__header">
        Technical Metadata (e57m)
      </div>
      <div class="c-file__name">
        <h3>e57m.xml</h3>
        <div class="c-file__size">
          <h4>173 KB</h4>
        </div>
      </div>
      <div class="c-file__actions">
         <div class="c-file__action">
          <i class="fa fa-edit"></i>
        </div>
        <div class="c-file__action">
          <i class="fa fa-download"></i>
        </div>
      </div>
    </div>
    <div class="c-file">
      <div class="c-file__header">
        Technical Metadata (ifcm)
      </div>
      <div class="c-file__name">
        <h3>ifcm.xml</h3>
        <div class="c-file__size">
          <h4>189 KB</h4>
        </div>
      </div>
      <div class="c-file__actions">
         <div class="c-file__action">
          <i class="fa fa-edit"></i>
        </div>
        <div class="c-file__action">
          <i class="fa fa-download"></i>
        </div>
      </div>
    </div>

    <div {{action 'addSemanticEnrichment'}}class="c-action-tile">
      <div class="c-action-tile__name">
        <h3>Add Metadata File</h3>
      </div>
    </div>

  </div>
</div>

<div class="c-file-list">
  <div class="c-file-list__category">
    <h4>Overview: Semantic Enrichment Files</h4>
  </div>
  <div class="c-file-list__listing">
    <div class="c-file">
      <div class="c-file__header">
        LOD Enrichments (buildm+)
      </div>
      <div class="c-file__name">
        <h3>buildm+.rdf</h3>
        <div class="c-file__size">
          <h4>144 KB</h4>
        </div>
      </div>
      <div class="c-file__actions">
         <div class="c-file__action">
          <i class="fa fa-edit"></i>
        </div>
        <div class="c-file__action">
          <i class="fa fa-download"></i>
        </div>
      </div>
    </div>
    <div {{action 'addSemanticEnrichment'}}class="c-action-tile">
      <div class="c-action-tile__name">
        <h3>Add Topic</h3>
      </div>
    </div>
  </div>
</div>

<div class="c-file-list">
  <div class="c-file-list__category">
    <h4>Overview: Geometric Enrichment Files</h4>
{{!--         <div class="o-selection-button">
      <button {{action addGeometricEnrichment}} type="button" class="o-selection-button__button" name="add">Add ...</button>
    </div>         --}}
  </div>
  <div class="c-file-list__listing">

    <div class="c-file">
      <div class="c-file__header">
        Reconstruction (IFC)
      </div>
      <div class="c-file__name">
        <h3>Haus30-Scan-2012-05-24.ifc</h3>
        <div class="c-file__size">
          <h4>132 MB</h4>
        </div>
      </div>
      <div class="c-file__actions">
         <div class="c-file__action">
            <i class="fa fa-times"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-eye"></i>
          </div>
      </div>
    </div>

    <div class="c-file">
      <div class="c-file__header">
        Hidden Features (IFC)
      </div>
      <div class="c-file__name">
        <h3>HiddenFeatures_Haus30-Scan-2012-05-24.ifc</h3>
        <div class="c-file__size">
          <h4>148 MB</h4>
        </div>
      </div>
      <div class="c-file__actions">
       <div class="c-file__action">
            <i class="fa fa-times"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-eye"></i>
          </div>
      </div>
    </div>

    <div class="c-file">
      <div class="c-file__header">
        Hidden Features (IFC)
      </div>
      <div class="c-file__name">
        <h3>HiddenFeatures_Haus30-Scan-2014-05-24.ifc</h3>
        <div class="c-file__size">
          <h4>167 MB</h4>
        </div>
      </div>
      <div class="c-file__actions">
       <div class="c-file__action">
            <i class="fa fa-times"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-eye"></i>
          </div>
      </div>
    </div>

    <div class="c-file">
      <div class="c-file__header">
        Registration (ifcPC)
      </div>
      <div class="c-file__name">
        <h3>Registration_Haus30-Scan-2014-05-24.ifc-Haus30-Scan2012-05-24.rdf</h3>
        <div class="c-file__size">
          <h4>477 KB</h4>
        </div>
      </div>
      <div class="c-file__actions">
        <div class="c-file__action">
            <i class="fa fa-times"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-eye"></i>
          </div>
      </div>
    </div>

    <div class="c-action-tile">
      <div class="c-action-tile__name">
        <h3>ADD</h3>
      </div>
      <div class="c-action-tile__actions">
        <div class="c-action-tile__action">
          Reconstruction
        </div>
        <div class="c-action-tile__action">
          Hidden Features
        </div>
        <div class="c-action-tile__action">
          Registration
        </div>
      </div>
    </div>

  </div>
</div>
