  <!-- Start filelist item -->
  <div class="c-file-list">
	<div class="c-file-list__category">
	  <h3>Files: 2 | Size: 1.3 GB</h3>
	</div>
	<div class="c-file-list__listing">

	  <div class="c-file">
		<div class="c-file__header t-file-files">
		  3D Model (IFC)
		</div>
		<div class="c-file__name">
		  <h3>Haus30-Scan-2014-05-24.ifc</h3>
		  <div class="c-file__size">
			<h4>382 MB</h4>
		  </div>
		</div>
		<div class="c-file__actions">
		  <div {{action "removeFile"}} class="c-file__action">
			  <i class="fa fa-times"></i>
			</div>
			<div {{action "detailsFile"}} class="c-file__action">
			  <i class="fa fa-eye"></i>
			</div>
		</div>
	  </div>

		<div class="c-file">
		  <div class="c-file__header t-file-files">
			Pointcloud (E57)
		  </div>
		  <div class="c-file__name">
			<h3>Haus30-Scan-2014-05-24.e57</h3>
			<div class="c-file__size">
			  <h4>742 MB</h4>
			</div>
		  </div>
		  <div class="c-file__actions">
		  <div {{action "removeFile"}} class="c-file__action">
			  <i class="fa fa-times"></i>
			</div>
			<div {{action "detailsFile"}} class="c-file__action">
			  <i class="fa fa-eye"></i>
			</div>
		  </div>
		</div>

	  </div>
	</div>
	<!-- End filelist item -->

	<!-- Begin ADD component -->
	<div class="c-button-list">
	  <div class="c-button-list__category">
		<h3>Add files</h3>
	  </div>

	  <div class="c-button-list__content">

		{{#link-to "workflows.files" class="c-button"}}
		<div class="c-button__frame t-button-files">
			<div class="c-button__name">
				<h3>Local file</h3>
			</div>
		</div>
		{{/link-to}}

	  {{#link-to "workflows.semanticenrichment" class="c-button"}}
		<div class="c-button__frame t-button-files">
		  <div class="c-button__name">
			<h3>Rosetta Archive</h3>
		  </div>
		</div>
	  {{/link-to}}

	  {{#link-to "workflows.geometricenrichment" class="c-button"}}
		<div class="c-button__frame t-button-files">
		  <div class="c-button__name">
			<h3>Bimsync file</h3>
		  </div>
		</div>
	  {{/link-to}}

	  </div>
	</div>
	<!-- End ADD component -->
