<!-- Start filelist item -->
<div class="c-file-list">
<div class="c-file-list__category">
  <h3>Upload hi-res panorama for each scanner position:</h3>
</div>
<div class="c-file-list__listing">

  <div class="c-file">
    <div class="c-file__header t-file-geoenrich">
      Position #1
    </div>
    <div class="c-file__name">
      <img src="http://placehold.it/350x150">
    </div>
    <div class="c-file__actions">
      <button type="button" name="button"  class="c-file__actions__button">Upload Panorama</button>
    </div>
  </div>

  <div class="c-file">
    <div class="c-file__header t-file-geoenrich">
      Position #2
    </div>
    <div class="c-file__name">
      <img src="http://placehold.it/350x150">
    </div>
    <div class="c-file__actions">
      <button type="button" name="button" class="c-file__actions__button">Upload Panorama</button>
    </div>
  </div>

  <div class="c-file">
    <div class="c-file__header t-file-geoenrich">
      Position #3
    </div>
    <div class="c-file__name">
      <img src="http://placehold.it/350x150">
    </div>
    <div class="c-file__actions">
      <button type="button" name="button" class="c-file__actions__button">Upload Panorama</button>
    </div>
  </div>

  </div>
</div>
<!-- End filelist item -->


<!-- Begin ADD component -->
<div class="c-button-list">
  <!-- <div class="c-button-list__category">
    <h3>Add files</h3>
  </div> -->

  <div class="c-button-list__content">

	{{#link-to "workflows.hiddenfeatures-processing" class="c-button"}}
    <div class="c-button__frame t-button-files">
  		<div class="c-button__name">
  			<h3>Continue</h3>
  		</div>
    </div>
	{{/link-to}}

  {{#link-to "workflows.geometricenrichment" class="c-button"}}
    <div class="c-button__frame t-button-files">
  		<div class="c-button__name">
  			<h3>Cancel</h3>
  		</div>
    </div>
	{{/link-to}}

  </div>
</div>
<!-- End ADD component -->
