<div class="l-sitenav c-sitenav">
  <div class="c-collapsible-toggle c-collapsible-toggle--nav jsToggle" data-toggle="nav"></div>

  <!-- expanded sitenav -->
  <div class="c-expanded-sitenav">
     <div class="c-expanded-sitenav__header">
      <div class="c-logo">
        <!-- <img src="/DURAARK_logo.jpg" alt="DURAARK logo" /> -->
        <h3>DURAARK
          <br>MAINTENANCE
          <br>WORKFLOW</h3>
      </div>
    </div>

    <div class="c-expanded-sitenav__content">
      <nav class="c-expanded-sitenav__menu">
        <h5 class="c-expanded-sitenav__title">SDO Graph Explorer</h5>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </nav>

      <nav class="c-expanded-sitenav__menu">
        <h5 class="c-expanded-sitenav__title">INTERLINK</h5>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </nav>

      <nav class="c-expanded-sitenav__menu">
        <h5 class="c-expanded-sitenav__title">Custom SDA Query</h5>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </nav>
    </div>

    <div class="c-expanded-sitenav__footer">
      <div class="c-logo c-logo--small">
        <!-- <svg class="svg-logo_glitch" height="30px" version="1.1" viewBox="0 0 30 30" width="30px" x="0px" y="0px">
          <path clip-rule="evenodd" d="M21,9h-2v6h2V9z M5.568,3L4,7v17h5v3h3.886L16,24h5l6-6V3H5.568z M25,16l-4,4h-6l-3,3v-3H8V5h17V16z M16,9h-2v6h2V9z" fill-rule="evenodd"></path>
        </svg> -->
      </div>

      <nav class="c-expanded-sitenav__footer-menu">
        <a href="#">About</a>
        <a href="#">Blog</a>
        <a href="#">Developers</a>
        <br>
        <a href="#">Partners</a>
        <a href="#">Funding</a>
        <a href="#">Project</a>
      </nav>
    </div>
  </div>
  <!-- end expanded sitenav -->

</div>

<div class="l-content-header c-content-header">
  <h1>Archive Maintenance</h1>
  {{#link-to "index"}}<h3><i class="fa fa-archive"></i> Home</h3>{{/link-to}}
</div>

<div class="l-content c-content has-follow-collapsed">
	<div class="c-workflows">
		{{#link-to "maintenance.sdo-graph-explorer" class="c-workflow"}}
			{{!-- <div class="c-workflow"> --}}
			  <div class="c-workflow__header">
			    <h3>SDO Graph Explorer</h3>
			  </div>
			  <div class="c-workflow__description">
			  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			  </div>
			{{!-- </div> --}}
		{{/link-to}}

		{{#link-to "maintenance.interlink" class="c-workflow"}}
			{{!-- <div class="c-workflow"> --}}
			  <div class="c-workflow__header">
			    <h3>INTERLINK</h3>
			  </div>
			  <div class="c-workflow__description">
			  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			  </div>
			{{!-- </div> --}}
		{{/link-to}}

		{{#link-to "maintenance.virtuoso-query" class="c-workflow"}}
			{{!-- <div class="c-workflow"> --}}
			  <div class="c-workflow__header">
			    <h3>Custom SDA Query</h3>
			  </div>
			  <div class="c-workflow__description">
			  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			  </div>
			{{!-- </div> --}}
		{{/link-to}}
	</div>
</div>
