<!-- Start filelist item -->
  <div class="c-file-list">
    <div class="c-file-list__category">
      <h3>Haus30-Scan-2014-05-24.ifc | 429 MB</h3>
    </div>
    <div class="c-file-list__listing">

      <div class="c-file">
        <div class="c-file__header t-file-metadata">
          Technical Metadata (ifcm)
        </div>
        <div class="c-file__name">
          <h3>Haus30-Scan-2014-05-24.ifc</h3>
          <div class="c-file__size">
            <h4>382 MB</h4>
          </div>
        </div>
        <div class="c-file__actions">
          <div class="c-file__action">
              <i class="fa fa-times"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-edit"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-eye"></i>
            </div>
        </div>
      </div>

      <div class="c-file">
        <div class="c-file__header t-file-metadata">
          Descriptive Metadata (buildm)
        </div>
        <div class="c-file__name">
          <h3>Physical Asset</h3>
          <div class="c-file__size">
            <h4>434 KB</h4>
          </div>
        </div>
        <div class="c-file__actions">
          <div class="c-file__action">
             <i class="fa fa-edit"></i>
          </div>
        </div>
      </div>

      <div class="c-file">
        <div class="c-file__header t-file-metadata">
          Descriptive Metadata (buildm)
        </div>
        <div class="c-file__name">
          <h3>Digital Object</h3>
          <div class="c-file__size">
            <h4>234 KB</h4>
          </div>
        </div>
        <div class="c-file__actions">
          <div class="c-file__action">
             <i class="fa fa-edit"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- End filelist item -->

  <!-- Start filelist item -->
    <div class="c-file-list">
      <div class="c-file-list__category">
        <h3>Haus30-Scan-2014-05-24.e57 | 742 MB</h3>
      </div>
      <div class="c-file-list__listing">

        <div class="c-file">
          <div class="c-file__header t-file-metadata">
            Technical Metadata (e57m)
          </div>
          <div class="c-file__name">
            <h3>Haus30-Scan-2014-05-24.e57</h3>
            <div class="c-file__size">
              <h4>742 MB</h4>
            </div>
          </div>
          <div class="c-file__actions">
           <div class="c-file__action">
              <i class="fa fa-times"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-edit"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-eye"></i>
            </div>
          </div>
        </div>

        <div class="c-file">
          <div class="c-file__header t-file-metadata">
            Descriptive Metadata (buildm)
          </div>
          <div class="c-file__name">
            <h3>Physical Asset</h3>
            <div class="c-file__size">
              <h4>434 KB</h4>
            </div>
          </div>
          <div class="c-file__actions">
            <div class="c-file__action">
               <i class="fa fa-edit"></i>
            </div>
          </div>
        </div>

        <div class="c-file">
          <div class="c-file__header t-file-metadata">
            Descriptive Metadata (buildm)
          </div>
          <div class="c-file__name">
            <h3>Digital Object</h3>
            <div class="c-file__size">
              <h4>234 KB</h4>
            </div>
          </div>
          <div class="c-file__actions">
            <div class="c-file__action">
               <i class="fa fa-edit"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- End filelist item -->