<div class="c-file-list">
  <div class="c-file-list__category">
    <h3>Custom Search</h3>
    <div class="o-selection-button">
      <button type="button" class="o-selection-button__button" name="add">Save as Filter</button>
    </div>        
  </div>
  <div class="c-file-list__listing"> 

    <div class="c-file">
      <div class="c-file__header">
        Address
      </div>
      <div class="c-file__name">
        <h3><br>Inffeldgasse</h3>
      </div>
      <div class="c-file__actions">
        <div class="c-file__action">
          <i class="fa fa-times"></i>
        </div>
      </div>
    </div>
    <div class="c-file">
      <div class="c-file__header">
        Rooms
      </div>
      <div class="c-file__name">
        <h3><br>> 10</h3>
      </div>
      <div class="c-file__actions">
        <div class="c-file__action">
          <i class="fa fa-times"></i>
        </div>
      </div>
    </div>
    <div class="c-file">
      <div class="c-file__header">
        Floors
      </div>
      <div class="c-file__name">
        <h3><br>> 6</h3>
      </div>
      <div class="c-file__actions">
        <div class="c-file__action">
          <i class="fa fa-times"></i>
        </div>
      </div>
    </div>

    <div {{action 'createNewTemplate'}}class="c-action-tile">
      <div class="c-action-tile__name">
        <h3>Add filter...</h3>
        <select style="width: 80%" name="select">
          <option value="value1">Address</option> 
          <option value="value2">Owner</option>
          <option value="value3">Floors</option>
          <option value="value3">Rooms</option>
          <option value="value3">Architect</option>
          <option value="value3">...</option>
        </select>
      </div>
    </div>   

  </div>
</div>

<div class="c-file-list">
  <div class="c-file-list__category">
    <h3>Results</h3>
    <div class="o-selection-button">
      <button type="button" class="o-selection-button__button" name="add">New Session from Results</button>
    </div>
    <div class="o-selection-button">
      <button type="button" class="o-selection-button__button" name="add">Show on Map</button>
    </div>
  </div>
  <div class="c-file-list__listing">
    <div class="c-file">
      <div class="c-file__header">
        Pointcloud (E57)
      </div>
      <div class="c-file__name">
        <h3>Inffeldgasse 16c.e57</h3>
        <div class="c-file__size">
          <h4>782 MB</h4>
        </div>
      </div>
      <div class="c-file__actions">
        <div class="c-file__action">
          <i class="fa fa-times"></i>
        </div>
        <div class="c-file__action">
          <i class="fa fa-edit"></i>
        </div>
        <div class="c-file__action">
          <i class="fa fa-eye"></i>
        </div>
      </div>
    </div>
  </div>
</div>
