<div class="c-file-list">
  <div class="c-file-list__category">
    <h3>Filter Templates</h3>
    <div class="o-selection-button">
      <button type="button" class="o-selection-button__button" name="add">Show only active</button>
    </div>
  </div>
  <div class="c-file-list__listing">
    <div class="c-file">
      <div class="c-file__header">
        Urban planning
      </div>
      <div class="c-file__name">
        <h3>All buildings within 3km range</h3>
      </div>
      <div class="c-file__actions">
        <div class="c-file__action">
          <i class="fa fa-check-square-o"></i>
        </div>
      </div>
    </div>
    <div class="c-file">
      <div class="c-file__header">
        Construction
      </div>
      <div class="c-file__name">
        <h3>All buildings with 3 storeys</h3>
      </div>
      <div class="c-file__actions">
        <div class="c-file__action">
          <i class="fa fa-check-square-o"></i>
        </div>
      </div>
    </div>
    <div class="c-file">
      <div class="c-file__header">
        Material
      </div>
      <div class="c-file__name">
        <h3>All buildings with PVC materials</h3>
      </div>
      <div class="c-file__actions">
        <div class="c-file__action">
          <i class="fa fa-circle-o"></i>
        </div>
      </div>
    </div>

    <div class="c-file">
      <div class="c-file__header">
        Material
      </div>
      <div class="c-file__name">
        <h3>All sessions containing IFC v3</h3>
      </div>
      <div class="c-file__actions">
        <div class="c-file__action">
          <i class="fa fa-circle-o"></i>
        </div>
      </div>
    </div>

    <div {{action 'createCustomFilter'}}class="c-action-tile">
      <div class="c-action-tile__name">
        <h3>Add Filter ...</h3>
      </div>
    </div>
  </div>
</div>

<div class="c-file-list">
  <div class="c-file-list__category">
    <h3>Results</h3>
    <div class="o-selection-button">
      <button type="button" class="o-selection-button__button" name="add">Add files to Session</button>
    </div>
    <div class="o-selection-button">
      <button type="button" class="o-selection-button__button" name="add">Show on Map</button>
    </div>
  </div>
  <div class="c-file-list__listing">
    <div class="c-file">
      <div class="c-file__header">
        Pointcloud (E57)
      </div>
      <div class="c-file__name">
        <h3>Haus30-Scan-2014-05-24.e57</h3>
        <div class="c-file__size">
          <h4>382 MB</h4>
        </div>
      </div>
      <div class="c-file__actions">
        <div class="c-file__action">
          <i class="fa fa-download"></i>
        </div>
        <div class="c-file__action">
          <i class="fa fa-eye"></i>
        </div>
      </div>
    </div>
    <div class="c-file">
      <div class="c-file__header">
        Pointcloud (E57)
      </div>
      <div class="c-file__name">
        <h3>Haus30-Scan-2012-05-24.e57</h3>
        <div class="c-file__size">
          <h4>273 MB</h4>
        </div>
      </div>
      <div class="c-file__actions">
        <div class="c-file__action">
          <i class="fa fa-download"></i>
        </div>
        <div class="c-file__action">
          <i class="fa fa-eye"></i>
        </div>
      </div>
    </div>
    <div class="c-file">
      <div class="c-file__header">
        3D Model (IFC)
      </div>
      <div class="c-file__name">
        <h3>Haus30.ifc</h3>
        <div class="c-file__size">
          <h4>382 MB</h4>
        </div>
      </div>
      <div class="c-file__actions">
        <div class="c-file__action">
          <i class="fa fa-eye"></i>
        </div>
        <div class="c-file__action">
          <i class="fa fa-download"></i>
        </div>
      </div>
    </div>
  </div>
</div>
