  <div class="c-file-list">
    <div class="c-file-list__category">
      <h3>Haus30-Scan-2014-05-24.e57 | 429 MB</h3>
    </div>
    <div class="c-file-list__listing">

      <div class="c-action-tile">
        <div class="c-action-tile__name">
          <h3>ADD TOPIC</h3>
        </div>
        <div class="c-action-tile__actions">
          <div class="c-action-tile__action apply">
            {{#link-to "workflows.semanticenrichment-select-topic-1-added" class="c-action-tile__action"}}<h3>SAVE</h3>{{/link-to}}
          </div>
          <div class="c-action-tile__action cancel">
            {{#link-to "workflows.semanticenrichment" class="c-action-tile__action"}}<h3>CANCEL</h3>{{/link-to}}
          </div>
        </div>
      </div>

      <div class="c-file selectable">
        <div class="c-file__header t-file-files">
          Enrichment Topic
        </div>
        <div class="c-file__name">
          <h3>Environment</h3>
          <div class="c-file__size">
            <h4>Seed list</h4>
          </div>
        </div>
        <div class="c-file__actions">
         <div class="c-file__action">
              <i class="fa fa-times"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-edit"></i>
            </div>
        </div>
      </div>

      <div class="c-file selectable">
        <div class="c-file__header t-file-files">
          Enrichment Topic
        </div>
        <div class="c-file__name">
          <h3>Architecture</h3>
          <div class="c-file__size">
            <h4>Seed list</h4>
          </div>
        </div>
        <div class="c-file__actions">
           <div class="c-file__action">
              <i class="fa fa-times"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-edit"></i>
            </div>
        </div>
      </div>

      <div class="c-file selectable">
        <div class="c-file__header t-file-files">
          Enrichment Topic
        </div>
        <div class="c-file__name">
          <h3>Energy</h3>
          <div class="c-file__size">
            <h4>Seed list</h4>
          </div>
        </div>
        <div class="c-file__actions">
           <div class="c-file__action">
              <i class="fa fa-times"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-edit"></i>
            </div>
        </div>
      </div>

      {{#link-to "workflows.semanticenrichment-new-topic" class="c-button c-action-tile"}}
        <div class="c-action-tile__name">
          <h3>NEW TOPIC</h3>
        </div>
      {{/link-to}}

    </div>
  </div>

  <div class="c-file-list">
    <div class="c-file-list__category">
      <h3>Haus30-Scan-2014-05-24.e57 | 429 MB</h3>
    </div>
    <div class="c-file-list__listing">

      <div class="c-file">
        <div class="c-file__header t-file-semenrich">
          Pointcloud (E57)
        </div>
        <div class="c-file__name">
          <h3>Haus30-Scan-2014-05-24.e57ifc</h3>
          <div class="c-file__size">
            <h4>742 MB</h4>
          </div>
        </div>
        <div class="c-file__actions">
           <div class="c-file__action">
              <i class="fa fa-times"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-edit"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-eye"></i>
            </div>
        </div>
      </div>

      <div class="c-file">
        <div class="c-file__header t-file-semenrich">
          Metadata (buildm+)
        </div>
        <div class="c-file__name">
          <h3>Seed Topic: Architecture</h3>
          <div class="c-file__size">
            <h4>832 KB</h4>
          </div>
        </div>
        <div class="c-file__actions">
           <div class="c-file__action">
              <i class="fa fa-times"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-edit"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-eye"></i>
            </div>
        </div>
      </div>

      <div class="c-file">
        <div class="c-file__header t-file-semenrich">
          Metadata (buildm+)
        </div>
        <div class="c-file__name">
          <h3>Seed Topic: Energy</h3>
          <div class="c-file__size">
            <h4>172 KB</h4>
          </div>
        </div>
        <div class="c-file__actions">
           <div class="c-file__action">
              <i class="fa fa-times"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-edit"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-eye"></i>
            </div>
        </div>
      </div>

      {{#link-to "workflows.semanticenrichment-select-topic-2" class="c-button c-action-tile"}}
        <div class="c-action-tile__name">
          <h3>ADD TOPIC</h3>
        </div>
      {{/link-to}}

    </div>
  </div>
