  <div class="c-file-list">
    <div class="c-file-list__category">
      <h3>Topic: <input type="input" placeholder="topic name"></h3>
    </div>
    <div class="c-file-list__listing">

      <div class="c-action-tile">
        <div class="c-action-tile__name">
          <h3>ADD TOPIC</h3>
        </div>
        <div class="c-action-tile__actions">
          <div class="c-action-tile__action apply">
            {{#link-to "workflows.semanticenrichment-select-topic-1" class="c-action-tile__action"}}<h3>SAVE</h3>{{/link-to}}
          </div>
          <div class="c-action-tile__action cancel">
            {{#link-to "workflows.semanticenrichment-select-topic-1" class="c-action-tile__action"}}<h3>CANCEL</h3>{{/link-to}}
          </div>
        </div>
      </div>

      <div class="c-file">
        <div class="c-file__header t-file-semenrich">
          Seed
        </div>
        <div class="c-file__name">
          <h3>http://dbpedia.org/resource/Wennigsen</h3>
          <div class="c-file__size">
            <h4>Description</h4>
          </div>
        </div>
        <div class="c-file__actions">
         <div class="c-file__action">
              <i class="fa fa-times"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-edit"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-eye"></i>
            </div>
        </div>
      </div>

      <div class="c-file">
        <div class="c-file__header t-file-semenrich">
          Seed
        </div>
        <div class="c-file__name">
          <h3>http://dbpedia.org/ontology/nobelLaureates</h3>
          <div class="c-file__size">
            <h4>Description</h4>
          </div>
        </div>
        <div class="c-file__actions">
         <div class="c-file__action">
              <i class="fa fa-times"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-edit"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-eye"></i>
            </div>
        </div>
      </div>

      <div class="c-file">
        <div class="c-file__header t-file-semenrich">
          Seed
        </div>
        <div class="c-file__name">
          <h3>http://dbpedia.org/resource/Graz</h3>
          <div class="c-file__size">
            <h4>Description</h4>
          </div>
        </div>
        <div class="c-file__actions">
          <div class="c-file__action">
              <i class="fa fa-times"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-edit"></i>
            </div>
            <div class="c-file__action">
              <i class="fa fa-eye"></i>
            </div>
        </div>
      </div>

      <div class="c-button c-action-tile">
        <div class="c-action-tile__name">
          <h3>ADD SEED</h3>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="l-follow c-follow is-collapsed">
</div>

<!-- {{outlet}} -->
