<div class="c-file-list">
  <div class="c-file-list__category">
    <h3>Haus30-Scan-2014-05-24.e57 | 429 MB</h3>
  </div>
  <div class="c-file-list__listing">

    <div class="c-file">
      <div class="c-file__header t-file-semenrich">
        3D Model (IFC)
      </div>
      <div class="c-file__name">
        <h3>Haus30-Scan-2014-05-24.ifc</h3>
        <div class="c-file__size">
          <h4>382 MB</h4>
        </div>
      </div>
      <div class="c-file__actions">
         <div class="c-file__action">
            <i class="fa fa-times"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-edit"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-eye"></i>
          </div>
      </div>
    </div>

    <div class="c-file">
      <div class="c-file__header t-file-semenrich">
        Metadata (buildm+)
      </div>
      <div class="c-file__name">
        <h3>Seed Topic: Environment</h3>
        <div class="c-file__size">
          <h4>163 KB</h4>
        </div>
      </div>
      <div class="c-file__actions">
        <div class="c-file__action">
            <i class="fa fa-times"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-edit"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-eye"></i>
          </div>
      </div>
    </div>

    {{#link-to "workflows.semanticenrichment-select-topic-1" class="c-button c-action-tile"}}
      <div class="c-action-tile__name">
        <h3>ADD TOPIC</h3>
    </div>
    {{/link-to}}
      

  </div>
</div>

<div class="c-file-list">
  <div class="c-file-list__category">
    <h3>Haus30-Scan-2014-05-24.e57 | 429 MB</h3>
  </div>
  <div class="c-file-list__listing">

    <div class="c-file">
      <div class="c-file__header t-file-semenrich">
        Pointcloud (E57)
      </div>
      <div class="c-file__name">
        <h3>Haus30-Scan-2014-05-24.e57ifc</h3>
        <div class="c-file__size">
          <h4>742 MB</h4>
        </div>
      </div>
      <div class="c-file__actions">
         <div class="c-file__action">
            <i class="fa fa-times"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-edit"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-eye"></i>
          </div>
      </div>
    </div>

    <div class="c-file">
      <div class="c-file__header t-file-semenrich">
        Metadata (buildm+)
      </div>
      <div class="c-file__name">
        <h3>Seed Topic: Architecture</h3>
        <div class="c-file__size">
          <h4>832 KB</h4>
        </div>
      </div>
      <div class="c-file__actions">
         <div class="c-file__action">
            <i class="fa fa-times"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-edit"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-eye"></i>
          </div>
      </div>
    </div>

    <div class="c-file">
      <div class="c-file__header t-file-semenrich">
        Metadata (buildm+)
      </div>
      <div class="c-file__name">
        <h3>Seed Topic: Energy</h3>
        <div class="c-file__size">
          <h4>172 KB</h4>
        </div>
      </div>
      <div class="c-file__actions">
         <div class="c-file__action">
            <i class="fa fa-times"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-edit"></i>
          </div>
          <div class="c-file__action">
            <i class="fa fa-eye"></i>
          </div>
      </div>
    </div>

    {{#link-to "workflows.semanticenrichment-select-topic-2" class="c-button c-action-tile"}}
      <div class="c-action-tile__name">
        <h3>ADD TOPIC</h3>
      </div>
    {{/link-to}}

  </div>
</div>
