// Theme base
// ----------
@include establish-baseline;

$page-font   : 'Lato', sans-serif;

body {
  font-size        : 20px;
  font-family      : $page-font;
  color            : $text;

 // background: $background;
  background-image: url("/images/bg_footer_lodyas.png");

  height: 100%;
  overflow: hidden;
}

// Adaptation of Lobotomized Owls Selector on p elements
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
p + p,
p + img,
img + p {
  margin-top: rhythm(1);
}

// Adds default UL and LI styles back ONLY for articles
// Adds margin bottom of 1 rhythm to images ONLY for articles
article {
  ul,
  ol {
    margin-left: rhythm(1);
  }

  li + li {
    margin-top: rhythm(0.5);
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }
}

.center {
  text-align: center;
}

// <h3><i class="fa fa-chevron-left"> </i> Building Context</h3> {
//   @include round-top-corners($amount: 10px);
//   @include round-bottom-corners($amount: 10px);
//
//   border-top: 2px solid color(white);
//   border-bottom: 2px solid color(white);
//   border-left: 2px solid color(white);
//   border-right: 2px solid color(white);
// }

// override 'material' design defaults
tbody {
  color: black;
}
