.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
background: #a56f39;
}

.mdl-layout__header {
  background-color: $btn-blue;
}

.mdl-layout__tab-bar {
  background-color: lighten($btn-blue, 10%);
}

// FIXXME: the inclusion of the drawer button (via 'mdl-js-layout' class in 'duraark-header.hbs') is necessary
// to make the highlighting of the workflow steps work ('mdl-layout__tab' class in 'duraark-header.hbs'). This
// is a workaround to include it, but hide it in the UI.
.mdl-layout__drawer-button {
  display: none;
}

// Take this into account in $footer-height in _variables.scss
.mdl-mini-footer {
  padding-top: 16px;
  padding-bottom: 16px;
}

.mdl-layout--fixed-header {
  overflow: hidden;
}

.mdl-layout__tab.is-active {
  background: darken(#499DC4, 5%);
  // background: darken(#3581A5, 5%);
  // border-bottom: 1px solid red;
}
.mdl-navigation__link.active {
  background: darken(#3581A5, 5%);
  // background: #e6892b;
  border-bottom: 1px solid red;
}
