.c-action-header {
  margin-left: rhythm(1);
  background: rgba(color(very-green), 0.4);
  border: 3px dashed color(very-green);
  transition: all 0.2s;
}
.c-action-header:hover {
  background: rgba(color(very-green), 0.8);
  border: 4px dashed color(very-green);
  margin-top: -1px;
}
.c-action-header__name {
  padding-top: rhythm(0.3);
  padding-bottom: rhythm(0.3);
  padding-left: rhythm(0.5);
  padding-right: rhythm(0.5);

  height: rhythm(1.8); // FIXXME: workaround for non-clearing float correctly...

  text-align: center;

  color: color(gallery);
}
