.c-action-tile {
  position: relative;
  @include gallery(1);
  margin-bottom: gutter();
  background: rgba(color(gallery), 0.1);
  border: 3px dashed color(gallery);
  transition: background 0.2s;
}
.c-action-tile:hover {
  background: rgba(color(gallery), 0.5);
}
.c-action-tile__name {
  padding-top: rhythm(1.8);

  // width: 50%;
  min-height: rhythm(5);

  text-align: center;

  color: color(gallery);
}
.c-action-tile__actions {
  position: absolute;

  top: 0;
  right: 0;
  // background: color(natural-gray);
}

.c-action-tile__action {
  width: rhythm(5);
  padding-top: rhythm(0.32);
  padding-bottom: rhythm(0.32);
  background: color(natural-gray);
  transition: background 0.8s;

  color: color(dark-gray);

  border-top: 1px solid rgba(color(gallery), 0.5);

  text-align: center;
  text-decoration: none;

  &:first-child {
    border: none;
  }

  &.apply {
    background: green;
  }

  &.cancel {
    background: red;
  }
}

.c-action-tile__action:hover {
  background: color(gallery);
  color: color(dark-gray);
}
