.c-building-result-item {
  .bar {
    // margin: 0.4em;
    padding: 0.5em;

    background: $btn-blue;
    color: $gui-main-font;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-width: white;

    .c-building-result-item__label {
      float: right;
    }

    @include clearfix;

    .c-building-result-item__actions {
      margin-top: 1em;
      button {
        // margin: 2em;
        width: 49%;
        background: $btn-orange;
      }
    }
  }

  :hover {
    background: lighten($btn-blue, 20%);
  }
}
