.l-building-list {
    overflow-y: scroll;
}
.c-building-list {
  background-image: $duraark-background-default;
}
.c-building-list__empty {
  padding: 1em;
  background: gray;
  text-align: center;
  i {
    display: block;
    margin-top: 0.5em;
  }
}
