.l-building-list-item {
}
.c-building-list-item {
  margin: 0.5em;
  border: 1px solid gray;
  &:hover {
    background: darken(gray, 10%);
  }

  header {
    background: $gui-green;
    font-size: $header-font-size;
    text-align: center;
  }
  .c-building-list-item__content {
    @include container;
  }
  .c-building-list-item__desc {
    @include span(8 of 12);
    padding: 0.5em;
    font-size: 16px;
  }
  .c-building-list-item__buttons {
    @include span(4 of 12 last);
    padding: 0.4em;
  }
  button {
    width: 100%;
    background-color: $action-color;
    // border-radius: $base-border-radius;
    padding: 0.5em;
    font-size: $header-font-size - 0.1em;
    color: white;
    &:hover {
      background: darken($action-color, 10%);
    }
  }
}
.c-building-list-item.selected {
  background: darken($gui-green, 10%);
}
