.c-content-header {
  @include cf;
  background: color(light-blue);
  color: color(white);

  text-transform: uppercase;

  &.c-content__files {
    background: rgba(color(light-blue), 1);
  }

  &.c-content__metadata {
    background: rgba(color(flashy-green), 1);
  }

  &.c-content__semenrich {
    background: rgba(color(light-orange), 1);
  }

  &.c-content__geoenrich {
    background: rgba(color(light-green), 1);
  }
}

.c-content-header__home {
  display: inline-block;
  margin-right: rhythm(0.5);
  margin-left: rhythm(1);
  color: rgba(color(royal-purple), 0.5);
}

.c-content-header__home:hover {
  color: rgba(color(royal-purple), 1);
}

.c-content-header__title {
  display: inline-block;
  margin-left: rhythm(4);
}

.c-content-header__actions {
  float: right;
  margin-top: rhythm(-0.5);
  text-decoration: none;
}

.c-content-header__action {
    display: inline-block;
    margin-left: rhythm(1);
}

.c-content {
  // padding-left: rhythm(1.5);
  background-color: color(dark-gray);
}
