.l-duraark-tool {
  z-index: 1;
  will-change: background;
  position: relative;
  padding: 1.5em;
  height: $content-height;
  &.fullscreen {
    position: fixed;
    top: $header-height; //172px; // FIXXME: use variables!
    left: 0;
    right: 0;
    height: 87.5vh;
    background: #424242;
    transition: background 0.5s;
  }
}
.large {
  .l-duraark-tool {
    height: $content-height-large;
  }
}
.l-duraark-tool__pane-one {
  svg {
    display: inline;
  }
}

.l-duraark-tool__pane-two {
  position: relative;
}

.fullscreen {
  .l-duraark-tool__pane-one {
    @include span(4 of 12);
  }

  .l-duraark-tool__pane-two {
    // height: $content-height-large;
    @include span(last 8 of 12);
  }
}
.c-duraark-tool {
  will-change: color;
  background: rgba(221, 221, 221, 0.2);
  color: white;
  overflow: auto;
}
.c-duraark-tool__close-icon {
  float: right;
  margin-top: -0.2em;
  margin-right: -0.35em;
  &:hover {
    color: $btn-orange;
    transition: color 0.2s;
  }
}
.c-duraark-tool__fullscreen-icon {
  &:hover {
    color: $btn-orange;
    transition: color 0.2s;
  }
}
