.duraark-header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height * 3;
  overflow: hidden;
  img.logo-small-left {
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 100;
    width: 3.5em;
    height: 2em;
  }
  img.logo-small-right {
    position: fixed;
    top: 10px;
    right: 0;
    width: 3.5em;
    height: auto;
  }
  .separator {
    margin-left: 3em;
  }
}
