.c-duraark-header {
  @include container;

  // z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height * 3;
  overflow: hidden;
  img.logo-small-left {
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 100;
    width: 3.5em;
    height: 2em;
  }
  img.logo-small-right {
    position: fixed;
    top: 10px;
    right: 0;
    width: 3.5em;
    height: auto;
  }
  .separator {
    margin-left: 3em;
  }
}
.c-duraark-header__spacer {
  margin-top: 2px;
}

// FIXXME: necessary for duraark-header title
.c-duraark-header__title {
  color: white;
  font-weight: 600;
  &:hover {
    background: darken(#3581A5, 5%);
    color: white;
  }
}
.c-duraark-header__workflow-steps {
  margin-top: 1px; // NOTE: necessary for showing red border-bottom from duraark-header
  background: #499dc4;
  a {
    @include span(5 of 25 0);
    padding: 0.5em;
    color: white;
    text-align: center;
    &:hover {
      background: darken(#499DC4, 5%);
    }
  }
  a:visited {
    color: white;
  }
  a.is-active {
    background: darken(#3581A5, 5%);
    // border-bottom: 1px solid #ff4081;
  }
}
