.c-duraark-header {
  @include container;

  width: 100%;
  height: $header-height;
  overflow: hidden;
  img.logo-small-left {
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 100;
    width: 3.5em;
    height: 2em;
  }
  img.logo-small-right {
    position: fixed;
    top: 10px;
    right: 0;
    width: 3.5em;
    height: auto;
  }
  .separator {
    margin-left: 3em;
  }
}
.c-duraark-header__spacer {
  margin-top: 1px;
}

// FIXXME: necessary for duraark-header title
.c-duraark-header__title {
  color: white;
  font-weight: 600;
  &:hover {
    background: darken(#3581A5, 5%);
    color: white;
  }
}
