.l-explore__topics {
  @include span(1 of 2);
  height: 100%;
  overflow: auto;
}
.l-explore__results {
  @include span(last 1 of 2);
  height: 100vh;
}
.c-explore__topics {
  margin: 1.5em;
}
.c-explore__emtpy {
  > h1 {
    margin-bottom: 2em;
    font-size: 2em;
  }
  > a {
    margin-top: 2em;
    padding: 1em;
    background: $btn-orange;
    color: white;
    font-size: 1.5em;

    &:hover {
      background: darken($btn-orange, 10%);
    }
  }
}
