.c-file {
  position: relative;
  @include gallery(1);
  margin-bottom: gutter();
  text-align: center;
  transition: background 0.2s;
  background: rgba(color(gallery), 0.1);
}
.c-file:hover {
  background: rgba(color(gallery), 0.5);
}
.c-file__header {
  background: color(natural-gray);
  color: color(tunar);
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.25);
}
.c-file__name {
  padding-top: rhythm(0.5);

  background: color(gallery);
  color: color(mid-gray);
}
.c-file__actions {
  width: 100%;
  background: color(natural-gray);
}

.c-file__action {
  float: right;
  display: inline-block;
  width: rhythm(1);

  background: color(natural-gray);
}
