.c-file-list {
  @include container();
  margin-left: rhythm(1);
  margin-right: rhythm(1);
  position: relative;

  color: color(dark-gray);
}

.c-file-list__category {
  // padding-left: rhythm(1);
  background: color(natural-gray);
  @include bleed-x(rhythm(1));

  // h3 {
  //   font-weight: bold;
  // }
  text-align: center;
}

.c-file-list__listing {
  margin-top: rhythm(1.5);
}
