.c-file-list {
  margin-left: rhythm(1);
  margin-right: rhythm(1);
  position: relative;

  color: color(dark-gray);

  @include clearfix;

  .files-wrapper {
    @include clearfix;
    margin-bottom: 2em;
  }

  .file-is-selected {
    padding: 1em;
    background: rgba(128, 128, 128, 0.33);
    border: 3px dashed #ccc;
    @include round-corners($amount: 2px);
    @include clearfix;
  }
}

.c-file-list__category {
  // background: color(natural-gray);
  @include bleed-x(rhythm(1));

  // h3 {
  //   font-weight: bold;
  // }
  text-align: center;
}

.c-file-list__listing {
  margin-top: rhythm(1.5);
}
