.l-help-box {
  padding: 2em;
}
.c-help-box__header {
  margin-top: 0.5ex;
  margin-bottom: 1ex;
  color: color(white);
  text-align: center;
}
.c-help-box__content {

}
.c-help-box__hint {
  color: color(white);
  font-size: 20px;
  text-align: justify;
}
