.l-help-box {
  height: $content-height;
  padding: 2em;
  background: rgba(221, 221, 221, 0.17);
  color: white;
}
.c-help-box__header {
  margin-top: 0.5ex;
  margin-bottom: 3.5ex;
  text-align: center;
}
.c-help-box__content {

}
.c-help-box__hint {
  font-size: 20px;
  text-align: justify;
}

.large {
  .l-help-box {
    height: $content-height-large;
  }
}
