.c-hero-button {
  display: block;
  @include outer-container;
  
  margin-left: auto;
  margin-right: auto;

  margin-top: rhythm(1.5);

  button {
    width: rhythm(8.5);
    color: black;
    background: rgba(color(light-green), 1);
  }

  button:hover {
    background: lighten(color(light-green), 10%);
  }
}
