.c-link-list {
  	@include span(6 of 12);
  	padding-left: rhythm(0.6);
}
.c-link-list-right {
  	@include span(last 2 of 12);
  	position: relative;
  	float: right;
  	>.c-link-list-grid-small>button {
  		@include span(12 of 12);
  	}
}

.c-link-list-right__generation {
  	@include span(last 6 of 12);
  	position: relative;
  	float: right;
  	>.c-link-list-grid-small>button {
      font-size: 20px;
  		// @include span(12 of 12);
  	}
}

.c-link-list-grid-small {
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	width: 50%;
}

.c-link-list-back, .c-link-list-next {
	h3:hover {
		text-decoration: underline;
	}
}

.c-link-list-back {
	text-align: left;
}

.c-link-list-next {
  	padding-right: rhythm(1);
	text-align: right;
}

.c-link-list-stats {
	padding-right: rhythm(1);
	text-align: right;
}
