.c-logo {
  text-align: center;
  margin-top: rhythm(1);
  margin-bottom: rhythm(1);

  color: color(mid-gray);
}

.c-logo--small {
  text-align: center;
  margin-top: rhythm(0.5);
  margin-bottom: rhythm(0.5);
}

.svg-logo_twitch {
  fill: color(white);
}

.svg-logo_glitch {
  fill: color(mid-gray);
}
