// body {
  // font-family: 'Roboto', 'Arial', sans-serif;
  // height: 100vh;
  // line-height: 1.3;
  // background: $btn-orange;
  // overflow: hidden;
  // text-rendering: geometricPrecision;
  // -webkit-font-smoothing: antialiased;
// }

$sidebar-width: 25vw;
$main-width: 75vw;

.material-menu-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  top: -36px;
  height: 100vh;
  width: $sidebar-width;
  overflow: hidden;
}

.material-menu {
  display: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: transparent;

  &.active {
    display: block;
  }
}

.material-btn {
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  z-index: 1001;
  bottom: $header-height + 20px;
  right: 20px;
  width: 75px;
  height: 75px;
  background: transparent;
  cursor: pointer;

  // &.active {
  //
  //   &:before {
  //     transform: scale(18);
  //
  //     @media (min-height: 800px) {
  //       transform: scale(25);
  //     }
  //   }
  // }
  //
  // &:active {
  //
  //   &:before {
  //     opacity: 0.75;
  //   }
  // }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 75px;
    height: 75px;
    background: $btn-blue;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(black, 0.5);
    cursor: pointer;
    transform-origin: center 70%;
    transform: scale(1);
    transition: all 0.35s ease-out;
  }
}

.material-content {
  padding: 1em;
  display: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
}

.active .material-content {
  display: block;
  z-index: 1000;

  background: white;
  opacity: 1;
}

nav {

  ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
  }

  li {
    will-change: transform, opacity;
    margin: 3em 0;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.4s ease-out;

    &.active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @for $i from 1 through 4 {
    li:nth-child(#{$i}) {
      transition-delay: $i * .1s;
    }
  }

  a {
    text-decoration: none;
    font-size: 3vw;
    color: $btn-orange;
    font-weight: 300;
  }
}

.material-hamburger {
	transition: all .3s ease-out;

  .material-patty {
		will-change: transform, opacity;
		width: 32px;
		height: 3px;
		margin: 0 0 6px 0;
		// background: lighten(black, 20);
		background: white;
		opacity: 1;
		transform: translate(0) rotate(0deg);
		transition: all .2s ease-out;

		&:last-child {
			margin-bottom: 0;
		}
	}

  .material-patty-vertical {
		will-change: transform, opacity;
		width: 32px;
		height: 3px;
    margin-top: -9px;
		// margin: 0 0 6px 0;
		// background: lighten(black, 20);
		background: white;
		opacity: 1;
		transform: translate(0) rotate(90deg);
		transition: all .2s ease-out;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.material-close {
    // transform: rotate(-180deg);
    transform: rotate(45deg);

		// .material-patty:nth-child(1) {
		// 	transform: translate(-10px, 4px) rotate(-45deg) scale(0.5, 1);
		// }
    //
		// .material-patty:nth-child(3) {
		// 	transform: translate(-10px, -4px) rotate(45deg) scale(0.5, 1);
		// }
	}
}

main {
  will-change: transform, opacity;
  width: $main-width;
  // height: 100vw;
  padding: 3em;
  padding-top: 1em;
  // overflow: hidden;
  transition: all .35s ease-out;

  &.active {
    opacity: 0.5;
    transform: translate(-2vw, 0px);
  }

  p {
    color: white;
    font-size: 2em;
    font-weight: 300;

    .highlight {
      background: white;
      color: $btn-orange;
      font-size: 4vw;
    }
  }
}
