.c-multi-select {
  width: 100%;
  background-image: $duraark-background-default;
  > header {
    // margin-bottom: $h-space;
    padding: 0.5em;
    text-align: center;
    font-size: $header-font-size;
    background: $color-3;
  }
  .footer::after {
    content: 'asdf';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: $color-3;
  }
  ul {
    @include container();
    @include clearfix;
    padding: gutter(3);
  }
  li {
    @include gallery(6 of 12 3);
    text-align: center;
    border: 1px solid gray;
    color: gray;

    // border-radius: 2px;
    margin-bottom: 0.2em;
    &.selected {
      background: $gui-green;
      color: white;
      border: 0 solid white;
    }
    &:hover {
      background: gray;
      color: white;
      // border: 0 solid white;
    }
  }
}
