.c-sitenav__collapsed-menu {
  display: none;

  .c-sitenav.is-collapsed & {
    display: block;
  }
}

.c-sitenav__menu {
  display: block;

  .c-sitenav.is-collapsed & {
    display: none;
  }
}

.c-sitenav {
  background: color(shark);

  a,
  a:visited {
    color: color(natural-gray);
    text-decoration: none;
  }

  a:hover,
  a:active,
  a:focus {
    color: color(gallery);
    background: color(woodsmoke);
  }
}

.c-sitenav__form {
  margin-bottom: rhythm(0.75);
  padding-left: rhythm(1);
  padding-right: rhythm(1);

  input {
    background: color(shark);
    color: white;
    border: 1px solid color(tuna);
    width: 100%;
    padding-top: rhythm(0.25);
    padding-bottom: rhythm(0.25);
    padding-left: rhythm(0.75);
  }
}

// Expanded Menu 
// -------------

.c-sitenav__expanded-menu {
  .is-collapsed & {
    display: none;
  }
}

.c-sitenav__expanded-menu-content {
  position: absolute;
  top: rhythm(5.5);
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.c-sitenav__expanded-menu-nav {
  margin-left: rhythm(1);
  margin-right: rhythm(1);

  & + & {
    border-top: 1px solid color(tuna);
    margin-top: rhythm(0.25);
    padding-top: rhythm(0.5);
  }

  a {
    position: relative;
    display: block;
    line-height: 1;
    padding-top: rhythm(0.5);
    padding-bottom: rhythm(0.5);
    @include bleed-x(rhythm(1));

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 4px;
      height: 100%;

      a.is-active & {
        background: color(royal-purple);
      }
    }
  }
}

.c-sitenav__expanded-menu-title {
  font-size: 0.785714286rem;
  text-transform: uppercase;
  color: color(mid-gray);
}

.c-sitenav__expanded-menu-more {
  display: block;
  position: relative;
  height: rhythm(1);
}

.c-sitenav__expanded-extra-nav {
  font-size: 0.785714286rem;
  text-align: center;
  margin-top: rhythm(0.5);
  margin-left: rhythm(1);
  margin-right: rhythm(1);
  margin-bottom: rhythm(2);
  padding-top: rhythm(0.5);
  border-top: 1px solid color(tuna);

  a {
    color: color(mid-gray);
    display: inline-block;
    font-size: 12px;
    padding: 0 rhythm(0.2);
  }
}

a.c-sitenav__expanded-menu-more {
  position: relative;
  height: rhythm(1);
  padding-top: rhythm(0.25);
  padding-bottom: rhythm(0.25);

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 6px;
    bottom: 0;
    margin: auto;
    @include triangle(6px, #bfbfbf, top);
  }
}

// Collapsed Menu
// --------------

.c-sitenav__collapsed-menu {
  text-align: center;

  .svg-logo_glitch {
    fill: color(white);
  }

  .i-icon {
    text-indent: -9999px;
    height: rhythm(1);
    width: rhythm(1);
    margin-top: rhythm(0.5);
    margin-bottom: rhythm(0.5);
    margin-left: auto;
    margin-right: auto;
  }
}

.c-sitenav__collapsed-menu-nav {
  border-top: 1px solid color(tuna);
}

.c-collapsed-profile {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}