.c-preingest__index {
  @include clearfix;
  position: relative;
  padding: 1em;
}

.l-preingest__add-button {
  position: absolute;
  z-index: 1001;
  bottom: $footer-height + 25px;
  right: 20px;
}
