.l-rise-tool {
  &.fullscreen {

  }
}
#rise-canvas {
  text-align: center;
}
.l-rise-tool__floorplan {
  svg {
    display: inline;
  }
}

.l-rise-tool__room-info {
  position: relative;
  height: $content-height;
}

.fullscreen {
  .l-rise-tool__floorplan {
    @include span(4 of 12);
  }

  .l-rise-tool__room-info {
    // height: $content-height-large;
    @include span(last 8 of 12);
  }
}
.c-rise-tool__header {
  @include clearfix;
  width: 100%;
}
.c-rise-tool__back {
  float: left;
  margin-right: 1em;
  line-height: 1.5em;
  min-width: 100px;
}
.c-rise-tool__edit {
  float: right;
  line-height: 1.5em;
  min-width: 100px;
}
.c-rise-tool__label {
  font-size: 1.5em;
  line-height: 1.5em;
}
