// FIXXME: not sure if that is the correct usage of a layout, see http://susy.readthedocs.org/en/latest/settings/
@include with-layout($stages) {

  .c-stage-list {
    color: color(dark-gray);
    transition: background 0.2s;
  }

  .c-stage-list__category {
    margin-bottom: rhythm(1.4);
    padding: rhythm(0.2);
    padding-right: rhythm(1);
    background: color(natural-gray);

    // h3 {
    //   font-weight: bold;
    // }

    text-align: center;
  }

    .c-stage-list__content {
        @include container();
        margin-bottom: rhythm(0.6);
    }

  .c-stage {
    @include gallery(1);

    text-decoration: none;

    border-right: 2px solid color(natural-gray);
  }
  .c-stage:hover {
    background: rgba(color(gallery), 0.5);
  }
  .c-stage__frame {
    min-height: rhythm(4);

    background: rgba(color(dark-brown), 0.1);

    &.c-stage__files {
      background: rgba(color(dark-brown), 1);
      color: color(light-gray);

      &:hover {
        background: rgba(color(light-orange), 1);
        color: color(dark-gray);
      }

      &.active {
        background: color(light-green);
        color: color(dark-gray);
      }
    }
    &.c-stage__metadata {
      background: rgba(color(dark-brown), 1);
      color: color(light-gray);

       &:hover {
        background: rgba(color(light-orange), 1);
        color: color(dark-gray);
      }

      &.active {
        background: color(light-green);
        color: color(dark-gray);
      }
    }
    &.c-stage__semenrich {
      background: rgba(color(dark-brown), 1);
      color: color(light-gray);

       &:hover {
        background: rgba(color(light-orange), 1);
        color: color(dark-gray);
      }

      &.active {
        background: color(light-green);
        color: color(dark-gray);
      }
    }
    &.c-stage__geoenrich {
      background: rgba(color(dark-brown), 1);
      color: color(light-gray);

       &:hover {
        background: rgba(color(light-orange), 1);
        color: color(dark-gray);
      }

      &.active {
        background: color(light-green);
        color: color(dark-gray);
      }
    }
  }
  .c-stage__name {
    padding-top: rhythm(1.3);
    text-align: center;
  }
  .c-stage__actions {
    margin-top: rhythm(0.2);
  }
  .c-stage_action {
    background: color(light-green);
    text-align: center;

    h3 {
     color: color(gallery);
    }
  }

};
