.c-sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background: color(comet);
  color: color(pigeon-post);
  height: rhythm(3);
  line-height: rhythm(3);
  font-weight: normal;
  text-align: center;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
}