.c-header {
  background-image: url("https://konnektor.grazzz.at/owncloud/index.php/apps/gallery/ajax/image.php?file=455aab1cc1fbc7e670aa499fe5901c24%2F_DSC8080.jpg");
  color: white;

  text-align: right;
}

.c-welcome {
  background-image: url("https://konnektor.grazzz.at/owncloud/index.php/apps/gallery/ajax/image.php?file=455aab1cc1fbc7e670aa499fe5901c24%2F_DSC8080.jpg");
  color: black;
}

.c-welcome__title {
    padding: rhythm(2.2);
    padding-left: rhythm(35.5);
}

.c-welcome__subtitle{
    margin-top: rhythm(0.7);
}
