.c-workflow-step-header {
  @include clearfix;

  padding: 0.3em;
  background: lighten($btn-blue, 30%);

  header {
    position: absolute;
    margin-top: 0.9em;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    font-size: 1.1em;
  }
}

.c-workflow-step-header__go-left {
  will-change: color;
  float: left;
  padding-left: 1em;

  span {
    font-size: 1.6em;
    margin-left: 0.2em;
  }
}

.c-workflow-step-header__go-left:hover {
  color: $btn-orange;
  transition: color 0.15s ease-out;
}

.c-workflow-step-header__go-right {
  will-change: color;
  float: right;
  margin-right: 0.2em;

  span {
    font-size: 1.6em;
    margin-right: 0.2em;
  }
}

.c-workflow-step-header__go-right:hover {
  color: $btn-orange;
  transition: color 0.15s ease-out;
}
