// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

$h-space: 0;

// Font Sizes
$base-font-size: 1em;
$header-font-size: 0.65em;

$color-1: #3581A5;
$color-2: #499DC4;
$color-3: #96c6dd;

// Note: for the 'is-casting-shadow' class in _base.scss:
$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$duraark-background-default: url("/images/bg_footer_lodyas.png");
$light-orange: #e6892b;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $light-orange;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

$header-height: 64px;
$footer-height: 68px;
$workflow-height: 35px;
