.l-duraark-workflow-steps {
  @include container;
  margin-top: 1px;
  width: 100%;
}
.c-duraark-workflow-steps {
  background: #499dc4;
  a {
    // @include span(5 of 25 0);
    padding: 0.5em;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;
    &:hover {
      background: darken(#499DC4, 5%);
    }
  }
  a:visited {
    color: white;
  }
  a.is-active {
    background: darken(#3581A5, 5%);
    // border-bottom: 1px solid #ff4081;
  }
  a.is-active:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid red;
  }
}
