.l-duraark-sidebar-item {
  @include clearfix;
  width: 100%;
}

.c-duraark-sidebar-item {
  background-image: $duraark-background-default;

  > header {
    margin-bottom: $h-space;
    padding: 0.5em;
    background: $color-3;
    font-size: $header-font-size;
    text-align: center;
  }
}
