.l-duraark-workflow-steps {
  @include container;
  margin-top: $h-space;
  width: 100%;
}
.c-duraark-workflow-steps {
  background: #499dc4;
  a {
    position: relative; // for ::after element
    // @include span(5 of 25 0);
    padding: 0.5em;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;
    &:hover {
      background: darken(#499DC4, 5%);
    }
  }
  a:visited {
    color: white;
  }
  a.is-active {
    background: darken(#3581A5, 5%);

    // border-bottom: 1px solid #ff4081;
  }
  a.is-active:after {
    $underline-height: 1px;
    content: '';
    position: absolute;
    bottom: -$underline-height;
    left: 0;
    width: 100%;
    height: $underline-height;
    background: #ff4081;
  }
}
