.o-media {
  > a, 
  img {
    position: relative;
    display: block;
    transition: all 0.125s ease-out;
  }

  a:hover img {
    opacity: 0.75;
  }

  .o-media__play {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
