// Typography
// ---------------
// Sets typography for all of document
// ===============
//
html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  // Optmizes font rendering for legibility.
  // May break with some browsers, comment out as necessary.
  text-rendering: optimizeLegibility;
}

h2 {
  font-size: 2.143rem;
  line-height: 1;
  font-weight: normal;
}

h3 {
  font-size: 1.43rem;
  line-height: 1.5;
  font-weight: normal;
}

h4 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
  color: color(tuna);
}

h5 {
  font-size: 0.857rem;
  line-height: 1.5;
  font-weight: normal;
  color: color(gray);
}

h6 {
  font-size: 0.714285714rem;
  line-height: 1;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

pre {
  white-space: pre;
}
