<section id="ember900" class="ember-view content-preview-content">    
  <div class="wrapper">
        <h1>Welcome to your sessions</h1>
        <hr>
        <p>Select an intem on the left to continue previous work.</p>
  </div>
</section>