<section id="ember900" class="ember-view content-preview-content">    
  <div class="wrapper">
        <h1>Welcome to the WorkbenchUI</h1>
        <hr>
        <h2>Choose what you want to do:</h2>
        <ul>
			<li><br><br>&#8227; {{#link-to "sessions"}}SESSIONS{{/link-to}} Create a new session or work on one of the existing ones to create SIP archives (select from the list on the left).</li>
			<li><br><br>&#8227; {{#link-to "search"}}SEARCH & RETRIEVE{{/link-to}} Search the database of archived SIPs.</li>
			<li><br><br>&#8227; {{#link-to "maintenance"}}MAINTENANCE{{/link-to}} Perform maintenance operations.</li>
{{!-- 			<li><br><br>&#8227; {{#link-to "settings"}}SETTINGS{{/link-to}} Adjust you account settings.</li> --}}
        </ul>
  </div>
</section>