<h2>Session: {{name}}</h2>

<section class="entry-meta">
	<ul>
	{{#each workflow in this.workflows}}
		<li class="workflow-header">
			<span>{{workflow.name}}</span>
		</li>

		{{dynamic-component type=workflow.component onClick="thingClicked" value=something}}
	{{/each}}
	</ul>  
</section>
