<div class="da-session-header">{{name}}</div>
<div style="text-align: center;">{{creator}} / {{createdAt}}</div>

<div class="da-session-next">&#8615;</div>

<div class="da-session-workflow-header">
	<span>Archive Creation</span>
</div>

{{sip-generator stage=filestage editClicked="editStage"}}