// Colors
// ======
// For project colors.
//
// Approach:
// ---------
// @LandonSchropp's approach of naming color variables.
// - http://davidwalsh.name/sass-color-variables-dont-suck
// - http://chir.ag/projects/name-that-color/
//
// Usage:
// ------
// .test {
//   background-color: color(shamrock);
// }
//
// OPTIONAL:
// --------
// Sublime gutter: https://sublime.wbond.net/packages/Gutter%20Color
// See the colors you used in the gutter (Awesome if you use sublime text)
// ==========

$btn-orange: #a56f39;
$btn-blue: #3581A5;
$gui-green: #5FBEBE;
$gui-main-font: white;

$colors: (
	white: #fff,
	silver: #c2c2c2,
	gray: #8c8c8c,
	light-gray: #F6F6FF,
	mid-gray: #cdcbcb,
	natural-gray: #e8e8e8,
	dark-gray: #3d3e40,
	gallery: #3D3E40,
	concrete: #f2f2f2,
	royal-purple: rgba(85, 26, 139, 0.99),
	tuna: rgba(50, 50, 62, 0.5),
	woodsmoke:#101014,
	shark: #edece4,
	yellow: #FAEC39,
	dirty-yellow: #baaf22,
	light-orange: #e6892b,
	mid-orange: #ab5703,
	light-orange-highlight: #F3BA21,
	mid-orange-highlight: #a67e13,
	dark-brown: #55504b,
	light-green: #D3E33F,
	mid-green: #a4b411,
	dark-green: #3a7429,
	very-green: #75da5e,
	flashy-green: #0066A8,
	light-blue: #70ADD5);

.is-selected {
  // .t-file {
  //   background: green !important;
  // }
}
.t-file {
	@include gradient(color(light-green), color(mid-green), 40px);
  	//background: color(light-blue) !important;
}
.t-file-semenrich {
  background: color(light-green) !important;
}
.t-file-geoenrich {
  background: color(light-green) !important;
}
.t-file-metadata {
  background: rgba(color(light-green), 1) !important;
}
// .t-button-files,
// .t-button-metadata,
// .t-button-semenrich,
// .t-button-geoenrich,
// .t-button-metadata {
// //  background: rgba(color(natural-gray), 0) !important;
// }

// From _dropdown-list.scss
$text: #fff;
$background: #D9D9D9;
$list-header: #16a085;
$list-item: #1abc9c;
