<nav class="global-nav" role="navigation">
    {{#link-to "preingest" classNames="nav-item nav-new js-nav-item"}}
        <div class="nav-label"><i class="icon-add"></i> Preingest Workflow</div>
    {{/link-to}}

    {{#link-to "search" classNames="nav-item nav-new js-nav-item"}}
        <div class="nav-label"><i class="icon-add"></i> Search & Retrieve</div>
    {{/link-to}}    

    {{#link-to "semenhance" classNames="nav-item nav-new js-nav-item"}}
        <div class="nav-label"><i class="icon-add"></i> Semantic Enhancement</div>
    {{/link-to}}
</nav>{{! .global-nav }}

{{outlet}}