<header class="c-sticky-header">
  <h3>DURAARK Workbench</h3>
</header>

<div class="l-wrap">
  <div class="l-wrap-header">
    <div class="c-workflows">
      <ul>
        <li class="c-workflow">
          {{#link-to "preingest"}}
            <div class="c-workflow__image"></div>
            <div class="c-workflow__title">Preingest</div>
            <div class="c-workflow__description">Description</div>
            <div class="c-workflow__footer">Footer</div>
          {{/link-to}}
        </li>
        <li class="c-workflow">
          {{#link-to "preservation"}}
          <div class="c-workflow__image"></div>
          <div class="c-workflow__title">Preservation</div>
          <div class="c-workflow__description">Description</div>
          <div class="c-workflow__footer">Footer</div>
          {{/link-to}}
        </li>
        <li class="c-workflow">
          {{#link-to "search"}}
          <div class="c-workflow__image"></div>
          <div class="c-workflow__title">Search & Retrieve</div>
          <div class="c-workflow__description">Description</div>
          <div class="c-workflow__footer">Footer</div>
          {{/link-to}}
        </li>
        <li class="c-workflow">
          {{#link-to "maintenance"}}
          <div class="c-workflow__image"></div>
          <div class="c-workflow__title">Maintenance</div>
          <div class="c-workflow__description">Description</div>
          <div class="c-workflow__footer">Footer</div>
          {{/link-to}}
        </li>

        <!-- <img class="wui-app-duraark-logo" src="DURAARK_logo.jpg" alt="EU logo"> -->
        <!-- <img class="wui-app-eu-logo" src="EU_logo.jpg" alt="EU logo"> -->
      </ul>
    </div>
  </div>
</div>

<!-- {{outlet}} -->
