<div class="l-canvas">
  <div class="l-sitenav c-sitenav">
    <div class="c-collapsible-toggle c-collapsible-toggle--nav jsToggle" data-toggle="nav"></div>

    <!-- expanded sitenav -->
    <div class="c-expanded-sitenav">
       <div class="c-expanded-sitenav__header">
        <div class="c-logo">
          <!-- <img src="/DURAARK_logo.jpg" alt="DURAARK logo" /> -->
          <h3>DURAARK
            <br>ARCHIVAL
            <br>WORKFLOW</h3>
        </div>

        <!-- <form action="" clas="c-expanded-sitenav__form">
          <input type="text" placeholder="Search">
        </form> -->
      </div>

      <div class="c-expanded-sitenav__content">
        <nav class="c-expanded-sitenav__menu">
          <h5 class="c-expanded-sitenav__title">Add 3D Files</h5>
{{!--           <a href="#">
            <span class="i-icon"></span>Content</a> --}}
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </nav>

        <nav class="c-expanded-sitenav__menu">
          <h5 class="c-expanded-sitenav__title">Edit Metadata Files</h5>
{{!--           <a href="#">
            <span class="i-icon"></span>Content</a> --}}
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </nav>

        <nav class="c-expanded-sitenav__menu">
          <h5 class="c-expanded-sitenav__title">Add Semantic Enrichments</h5>
{{!--           <a href="#">
            <span class="i-icon"></span>Content</a> --}}
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </nav>

        <nav class="c-expanded-sitenav__menu">
          <h5 class="c-expanded-sitenav__title">Add Geometric Enrichments</h5>
{{!--           <a href="#">
            <span class="i-icon"></span>Content</a> --}}
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </nav>        
{{!--         <nav class="c-expanded-sitenav__menu">
          <h5 class="c-expanded-sitenav__title">Archive Overview</h5>
          <a href="#">
            <span class="i-icon"></span>Content</a>
        </nav>
 --}}
        <!-- <nav class="c-expanded-sitenav__menu">
          <h5 class="c-expanded-sitenav__title">Active Tool - Files</h5>
          <a href="#">
            <span class="i-icon"></span>3 items</a>
          <a href="#">
            <span class="i-icon"></span>580 MB</a>
        </nav> -->

{{!--         <nav class="c-expanded-sitenav__menu">
          <h5 class="c-expanded-sitenav__title">Workbench Tools</h5>
          <a href="#">
            <span class="i-icon"></span>Metadata</a>
          <a href="#">
            <span class="i-icon"></span>Semantic Enrichment</a>
          <a href="#">
            <span class="i-icon"></span>Geometric Enrichment</a>
          <a href="#">
            <span class="i-icon"></span>Archive Storage</a>
        </nav> --}}
      </div>

      <div class="c-expanded-sitenav__footer">
        <div class="c-logo c-logo--small">
          <!-- <svg class="svg-logo_glitch" height="30px" version="1.1" viewBox="0 0 30 30" width="30px" x="0px" y="0px">
            <path clip-rule="evenodd" d="M21,9h-2v6h2V9z M5.568,3L4,7v17h5v3h3.886L16,24h5l6-6V3H5.568z M25,16l-4,4h-6l-3,3v-3H8V5h17V16z M16,9h-2v6h2V9z" fill-rule="evenodd"></path>
          </svg> -->
        </div>

        <nav class="c-expanded-sitenav__footer-menu">
          <a href="#">About</a>
          <a href="#">Blog</a>
          <a href="#">Developers</a>
          <br>
          <a href="#">Partners</a>
          <a href="#">Funding</a>
          <a href="#">Project</a>
        </nav>
      </div>

    </div>



    <!-- end expanded sitenav -->

  </div>

  <div class="l-content-header c-content-header">
    <div class="c-content-header__actions">
      <div class="c-content-header__action">

      <div class="c-action-header">
        <div class="c-action-header__name">
          <h3>Archive</h3>
        </div>
      </div>

        {{!-- <div class="o-selection-button">
          <button type="button" class="o-selection-button__button" name="add">Archive ...</button>
          <div class="o-selection-button__list">
            <ul>
              <li>
                <h4>Local</h4>
              </li>
              <li>
                <h4>Rosetta</h4>
              </li>
            </ul>
          </div>
        </div> --}}
      </div>
    </div>
    <h1>Archive Content</h1>
  </div>

  <div class="l-content c-content has-follow-collapsed">
    <div class="c-file-list">
      <div class="c-file-list__category">
        <h4>3D Files</h4>
        {{!-- <div class="o-selection-button">
          <button type="button" class="o-selection-button__button" name="add">Add ...</button>
          <div class="o-selection-button__list">
            <ul>
              <li>
                <h4>Local</h4>
              </li>
              <li>
                <h4>bimsync</h4>
              </li>
              <li>
                <h4>Rosetta</h4>
              </li>
            </ul>
          </div>
        </div> --}}
      </div>
      <div class="c-file-list__listing">
        <div class="c-file">
          <div class="c-file__header">
            Pointcloud (E57)
          </div>
          <div class="c-file__name">
            <h3>Haus30-Scan-2014-05-24.e57</h3>
            <div class="c-file__size">
              <h4>382 MB</h4>
            </div>
          </div>
          <div class="c-file__actions">
            <div class="c-file__action">
              x
            </div>
            <div class="c-file__action">
              e
            </div>
            <div class="c-file__action">
              v
            </div>
          </div>
        </div>
        <div class="c-file">
          <div class="c-file__header">
            Pointcloud (E57)
          </div>
          <div class="c-file__name">
            <h3>Haus30-Scan-2012-05-24.e57</h3>
            <div class="c-file__size">
              <h4>273 MB</h4>
            </div>
            <div class="c-file__actions">
              <div class="c-file__action">
                x
              </div>
              <div class="c-file__action">
                e
              </div>
              <div class="c-file__action">
                v
              </div>
            </div>
          </div>
        </div>
        <div class="c-file">
          <div class="c-file__header">
            3D Model (IFC)
          </div>
          <div class="c-file__name">
            <h3>Haus30.ifc</h3>
            <div class="c-file__size">
              <h4>382 MB</h4>
            </div>
            <div class="c-file__actions">
              <div class="c-file__action">
                x
              </div>
              <div class="c-file__action">
                e
              </div>
              <div class="c-file__action">
                v
              </div>
              <div class="c-file__action">
                d
              </div>
            </div>
          </div>     
        </div>
        <div class="c-action-tile">
          <div class="c-action-tile__name__left">
            <h3>ADD</h3>
          </div>
          <div class="c-action-tile__actions">
            <div class="c-action-tile__action">
              Local
            </div>
            <div class="c-action-tile__action">
              Rosetta
            </div>
            <div class="c-action-tile__action">
              bimsync
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-file-list">
      <div class="c-file-list__category">
        <h4>Metadata Files</h4>
        <div class="c-content-header__action">
{{!--         <div class="o-selection-button">
          <button {{action editMetadata}} type="button" class="o-selection-button__button" name="add">Edit ...</button>
        </div> --}}
      </div>
      </div>
      <div class="c-file-list__listing">
        <div class="c-file">
          <div class="c-file__header">
            Descriptive Metadata (buildm)
          </div>
          <div class="c-file__name">
            <h3>buildm.xml</h3>
            <div class="c-file__size">
              <h4>200 KB</h4>
            </div>
          </div>
          <div class="c-file__actions">
            <div class="c-file__action">
              e
            </div>
            <div class="c-file__action">
              d
            </div>
          </div>
        </div>
        <div class="c-file">
          <div class="c-file__header">
            Technical Metadata (e57m)
          </div>
          <div class="c-file__name">
            <h3>e57m.xml</h3>
            <div class="c-file__size">
              <h4>173 KB</h4>
            </div>
            <div class="c-file__actions">
              <div class="c-file__action">
                e
              </div>
              <div class="c-file__action">
                d
              </div>
            </div>
          </div>
        </div>
        <div class="c-file">
          <div class="c-file__header">
            Technical Metadata (ifcm)
          </div>
          <div class="c-file__name">
            <h3>ifcm.xml</h3>
            <div class="c-file__size">
              <h4>189 KB</h4>
            </div>
            <div class="c-file__actions">
              <div class="c-file__action">
                e
              </div>
              <div class="c-file__action">
                d
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-file-list">
      <div class="c-file-list__category">
        <h4>Semantic Enrichment Files</h4>
{{!--         <div class="o-selection-button">
          <button {{action addSemanticEnrichment}} type="button" class="o-selection-button__button" name="add">Add ...</button>
        </div>    --}}     
      </div>
      <div class="c-file-list__listing">
        <div class="c-file">
          <div class="c-file__header">
            LOD Enrichments (buildm+)
          </div>
          <div class="c-file__name">
            <h3>buildm+.rdf</h3>
            <div class="c-file__size">
              <h4>144 KB</h4>
            </div>
          </div>
          <div class="c-file__actions">
            <div class="c-file__action">
              e
            </div>
            <div class="c-file__action">
              d
            </div>
          </div>
        </div>
        <div class="c-action-tile">
          <div class="c-action-tile__name">
            <h3>ADD</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="c-file-list">
      <div class="c-file-list__category">
        <h4>Geometric Enrichment Files</h4>
{{!--         <div class="o-selection-button">
          <button {{action addGeometricEnrichment}} type="button" class="o-selection-button__button" name="add">Add ...</button>
        </div>         --}}
      </div>
      <div class="c-file-list__listing">

        <div class="c-file">
          <div class="c-file__header">
            Reconstruction (IFC)
          </div>
          <div class="c-file__name">
            <h3>Haus30-Scan-2012-05-24.ifc</h3>
            <div class="c-file__size">
              <h4>132 MB</h4>
            </div>
          </div>
          <div class="c-file__actions">
            <div class="c-file__action">
              x
            </div>
            <div class="c-file__action">
              v
            </div>
          </div>
        </div>

        <div class="c-file">
          <div class="c-file__header">
            Hidden Features (IFC)
          </div>
          <div class="c-file__name">
            <h3>HiddenFeatures_Haus30-Scan-2012-05-24.ifc</h3>
            <div class="c-file__size">
              <h4>148 MB</h4>
            </div>
          </div>
          <div class="c-file__actions">
            <div class="c-file__action">
              x
            </div>
            <div class="c-file__action">
              v
            </div>
          </div>
        </div>

        <div class="c-file">
          <div class="c-file__header">
            Hidden Features (IFC)
          </div>
          <div class="c-file__name">
            <h3>HiddenFeatures_Haus30-Scan-2014-05-24.ifc</h3>
            <div class="c-file__size">
              <h4>167 MB</h4>
            </div>
          </div>
          <div class="c-file__actions">
            <div class="c-file__action">
              x
            </div>
            <div class="c-file__action">
              v
            </div>
          </div>
        </div>

        <div class="c-file">
          <div class="c-file__header">
            Registration (ifcPC)
          </div>
          <div class="c-file__name">
            <h3>Registration_Haus30-Scan-2014-05-24.ifc-Haus30-Scan2012-05-24.rdf</h3>
            <div class="c-file__size">
              <h4>477 KB</h4>
            </div>
          </div>
          <div class="c-file__actions">
            <div class="c-file__action">
              x
            </div>
            <div class="c-file__action">
              v
            </div>
          </div>
        </div>
        <div class="c-action-tile">
          <div class="c-action-tile__name">
            <h3>ADD</h3>
          </div>
          <div class="c-action-tile__actions">
            <div class="c-action-tile__action">
              Reconstruction
            </div>
            <div class="c-action-tile__action">
              Hidden Features
            </div>
            <div class="c-action-tile__action">
              Registration
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="l-follow c-follow is-collapsed">
</div>

<!-- {{outlet}} -->
