<div class="l-canvas">
  <div class="l-sitenav c-sitenav">
    <div class="c-collapsible-toggle c-collapsible-toggle--nav jsToggle" data-toggle="nav"></div>

    <!-- expanded sitenav -->
    <div class="c-expanded-sitenav">
      <div class="c-expanded-sitenav__header">
        <div class="c-logo">

        </div>

        <!-- <form action="" clas="c-expanded-sitenav__form">
          <input type="text" placeholder="Search">
        </form> -->
      </div>

      <div class="c-expanded-sitenav__content">
        <nav class="c-expanded-sitenav__menu emphasize">
          <h5 class="c-expanded-sitenav__title">Active Tool - Files</h5>
          <a href="#">
            <span class="i-icon"></span>3 items</a>
          <a href="#">
            <span class="i-icon"></span>580 MB</a>
          <a href="#">
            <span class="i-icon"></span>location: bimsync</a>
        </nav>

        <nav class="c-expanded-sitenav__menu">
          <h5 class="c-expanded-sitenav__title">Archival Stages</h5>
          <a href="#">
            <span class="i-icon"></span>Files</a>
          <a href="#">
            <span class="i-icon"></span>Metadata Editor</a>
        /  <a href="#">
            <span class="i-icon"></span>Semantic Enrichment</a>
          <a href="#">
            <span class="i-icon"></span>Geometric Enrichment</a>
          <a href="#">
            <span class="i-icon"></span>Archive Generation</a>
        </nav>

        <!-- <nav class="c-expanded-sitenav__menu">
          <div class="c-user">
            <h5 class="c-username">MartinH</h5>
            <a href="#">
              <span class="i-icon">Logout</span>
            </a>
            <a href="#">
              <span class="i-icon">Logout</span>
            </a>
          </div>
          <a href="#">
            <span class="i-icon"></span>Profile</a>
          <a href="#">
            <span class="i-icon"></span>Following</a>
          <a href="#">
            <span class="i-icon"></span>Messages</a>
        </nav> -->

        <div class="c-expanded-sitenav__footer">
          <div class="c-logo c-logo--small">

          </div>

          <nav class="c-expanded-sitenav__footer-menu">
            <a href="#">About</a>
            <a href="#">Blog</a>
            <a href="#">Developers</a>
            <a href="#">Partners</a>
            <a href="#">Funding</a>
            <a href="#">More</a>
          </nav>
        </div>
      </div>
    </div>



    <!-- end expanded sitenav -->

  </div>

  <div class="l-content c-content">
    <div class="c-tools">
      <!-- <img class="wui-app-duraark-logo" src="DURAARK_logo.jpg" alt="EU logo"> -->
      <!-- <img class="wui-app-eu-logo" src="EU_logo.jpg" alt="EU logo"> -->
    </div>

    <div class="l-follow c-follow">
    </div>
  </div>
</div>

<!-- {{outlet}} -->
