{{duraark-header session=retrieveState.session title=retrieveState.title showWorkflowSteps=retrieveState.showWorkflowSteps activeStep=retrieveState.activeStep}}

<!-- <div class="l-duraark-workflow-steps c-duraark-workflow-steps">
  {{#link-to 'explore' classBinding "isActiveMetadata:is-active" class="l-2-item is-active" }}<i class="fa fa-file-text-o"></i>&nbsp; Metadata{{/link-to}}
  {{#link-to 'explore.context' classBinding="isActiveMetadata" class="l-2-item" }}<i class="fa fa-folder-o"></i>&nbsp; Context Information{{/link-to}}
</div> -->

<div class="l-duraark-page">
  {{outlet}}
  {{duraark-footer}}
</div>
