<div class="l-content-header c-content-header c-content-semenrich">
  <div class="c-content-header__title">
     <h1><i {{action "goToArchival"}} class="fa fa-fast-backward"></i> Haus30-Scan-2014-05-24.ifc</h1>
  </div>
</div>

{{!-- <div class="l-content c-content has-follow-collapsed"> --}}

  <div class="c-filedetails">

    <div class="c-filedetails__leftpane">

      <div class="c-filedetails__metadata">

        <div class="c-filedetails__header">
          <h3>Details</h3>
        </div>

        <fieldset class="c-md-list">
          <div><label>Name:</label> <span>Haus30-Scan-2014-05-24.ifc</span></div>
          <div><label>Created at:</label> <span>December 3rd, 2015, 23:21:54</span></div>
          <div><label>Modified at:</label> <span>December 3rd, 2015, 23:21:54</span></div>
          <div><label>Size:</label> <span>382 MB</span></div>
          <div><label>Description:</label> <span>buildm description, if available.</span></div>
      </fieldset>

      <div class="c-filedetails__buttons">
        
            <div class="c-hero-button">
              <button {{action "openArchivalSession"}} type="button" name="button"><h3>Download</h3></button>
            </div>

              <div class="c-hero-button">
              <button {{action "openArchivalSession"}} type="button" name="button"><h3>Delete</h3></button>
            </div>

        </div>
      </div>

      </div>

    <div class="c-filedetails__preview">

        <div class="c-filedetails__header">
          <h3>Preview</h3>
        </div>

      <img src="http://lorempixel.com/500/320/city" alt="3D preview">
    </div>

  {{!-- </div> --}}
  </div>