<div class="l-files">

	<div class="l-file-list">

		<div class="c-button-list">
			<div class="c-button-list__content">

				{{#link-to "workflows.files" class="c-button" }}
					<div class="c-button__frame t-button-files">
						<div class="c-button__name">
							<h3>Add</h3>
						</div>
					</div>
				{{/link-to}}

				{{#link-to "workflows.files" class="c-button" }}
					<div class="c-button__frame t-button-files">
						<div class="c-button__name">
							<h3>Cancel</h3>
						</div>
					</div>
				{{/link-to}}

			</div>
		</div>

		{{#file-list files=model as |file|}}
				{{file-item item=file select="toggleSelection" details="showDetails"}}
		{{/file-list}}
	</div>

	{{#if showSidebar}}
		<div class="l-file-details">
			{{#if fileInfo}}
			{{log fileInfo}}
				{{buildm-viewer file=fileInfo}}
			{{/if}}
		</div>
	{{/if}}

</div>
