<div class="l-ifc-viewer c-ifc-viewer">
  <!-- <lmv-viewer url="http://lmv.rocks/data/gears/output/bubble.json"></lmv-viewer> -->
  <!-- <lmv-viewer url="https://developer.api.autodesk.com/oss/v2/buckets/duraark/objects/Nygade_Scan1005-1006_reconstructed.ifc" token="zoJZeG8ykEoR9fs37PPbSG4BtMaF"></lmv-viewer> -->
  <!-- <iframe src="http://a360.co/1QhazXZ" width="100%" height="100%"></iframe> -->
</div>
