<!-- <header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="logos/logo-duraark_white_icon-only.png" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="http://duraark.eu">About Us</a></li>
      </ul>
    </nav>
  </div>
</header> -->

<div class="home">

  <div class="hero">
    <div class="hero-inner">
      <a href="" class="hero-logo">
        <img src="logos/logo-duraark_white.png" alt="DURAARK logo">
      </a>
      <div class="hero-copy">
        <h1>Semantic archival & retrieval for architectural data.</h1>
        {{!-- <p>A few reasons why this product is worth using, who it's for and why they need it.</p>   --}}
      </div>

      <div class="grid-items">
        <a href="javascript:void(0)" class="grid-item" {{action "showPreingestWorkflow"}}>
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
          <h1>Archive Buildings</h1>
          <p>Prepare building data to ingest them into the archive.</p>
        </a>
        <a href="javascript:void(0)" class="grid-item" {{action "showRetrieveWorkflow"}}>
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
          <h1>Search Buildings</h1>
          <p>Search the archive for buildings of interest.</p>
        </a>
        <a href="javascript:void(0)" class="grid-item" {{action "showKnowledgeGraph"}}>
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
          <h1>Explore Context Information</h1>
          <p>Explore buildings for additional semantic information from open data clouds</p>
        </a>
        <!-- <a href="javascript:void(0)" class="grid-item" {{action "showRetrieval"}}>
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
          <h1>Search & Retrieve</h1>
          <p>Test the "Retrieval Workflow".</p>
        </a> -->
      </div>

      <a href="">
        <img style="margin-top: 5em;" src="logos/logo-eu.png" alt="EU logo">
      </a>

    </div>
  </div>

  <!-- <ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
" alt="">
    </div>
    <div class="bullet-content">
      <h2>Archival</h2>
      <p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
      </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Retrieval</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Maintenance</h2>
      <p>Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
    </div>
  </li>
</ul> -->
</div>

<!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->
<!--
<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="logos/logo-duraark_white_icon-only.png" alt="Logo image">
  </div>
 <ul>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul>
    </div>
</footer>
-->
