<!-- <div class="l-header c-header">
	<h1>DURAARK</h1>
	<h3>Archival & Retrieval workflows for architectural data.</h3>
	<h2>Made easy.</h2>
</div> -->

<div class="l-landingpage c-landingpage">
  <div class="c-landingpage__title">

    <h1>DURAARK</h1>

    <div class="c-landingpage__subtitle">
      <h3>Archival & Retrieval workflows for
        <br>architectural data.</h3>
      <div class="c-landingpage__subtitle">
        <h2>Made easy.</h2>
      </div>
    </div>

  </div>

  <div class="c-landingpage__buttons">
    <button {{action "openNewSession"}} type="button" name="button"><h3>New Session</h3></button>
    <button {{action "openExistingSession"}} type="button" name="button"><h3>Open Session</h3></button>
    <button {{action "openDemoSession"}} type="button" name="button"><h3>Demo Session</h3></button>
  </div>

</div>
