<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="DURAARK_logo.jpg" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>Semantic archival & retrieval for architectural data. <br><br>Made easy.</h1>
      {{!-- <p>A few reasons why this product is worth using, who it's for and why they need it.</p>   --}}
    </div>
  </div>
</div>


<div class="l-landingpage c-landingpage">
  <div class="c-landingpage__title">

    <h1>DURAARK</h1>

    <div class="c-landingpage__subtitle">
      <h3>Archival & Retrieval workflows for
        <br>architectural data.</h3>
      <div class="c-landingpage__subtitle">
        <h2>Made easy.</h2>
      </div>
    </div>

  </div>

  <div class="c-landingpage__buttons">
    <button {{action "openArchivalSession"}} type="button" name="button"><h3><i class="fa fa-archive"></i> Archival</h3></button>
    <button {{action "openRetrievalSession"}} type="button" name="button"><h3><i class="fa fa-search"></i> Retrieval</h3></button>
  </div>

</div>
