<!-- <div class="l-header c-header">
	<h1>DURAARK</h1>
	<h3>Archival & Retrieval workflows for architectural data.</h3>
	<h2>Made easy.</h2>
</div> -->

<div class="l-welcome c-welcome">
  <div class="c-welcome__title">
  	<h1>DURAARK</h1>
      <div class="c-welcome__subtitle">
  	<h3>Archival & Retrieval workflows for <br>architectural data.</h3>
      <div class="c-welcome__subtitle">
      	<h2>Made easy.</h2>
      </div>
    </div>
  </div>
</div>
