<div class="page-content">
    <section class="content-list js-content-list" data-bindattr-849="849">
        <header class="floatingheader">
            <section class="content-filter">
                <small>Maintenance Tools</small>
            </section>
{{!--             <a id="ember850" class="ember-view btn btn-green" href="/ghost/editor/" title="New Session"><span class="hidden">New Session</span></a> --}}
        </header>

		<section id="ember861" class="ember-view content-list-content js-content-scrollbox">        
			<ol class="posts-list">
				<li>
					<div style="margin: 35px;width: 85%;">
						<h4 style="margin-bottom: 15px;">INTERLINK</h4>
					    <a id="ember850" class="ember-view btn btn-green" href="/maintenance" title="Start INTERLINK tool"><span class="hidden">Start INTERLINK tool</span></a>
					</div>
				</li>

				<li>
					<div style="margin: 35px;width: 85%;">
						<h4 style="margin-bottom: 15px;">SDA Maintenance</h4>
					    <a id="ember850" class="ember-view btn btn-green" href="/maintenance" title="Start SDA tool"><span class="hidden">Start SDA tool</span></a>
					</div>
				</li>

			</ol>
		</section>
	</section>

    <section class="content-preview js-content-preview" data-bindattr-862="862">
        {{!-- <div id="ember680" class="ember-view">
        <header class="post-preview-header clearfix">
	    	<button id="ember888" class="ember-view btn btn-default btn-back">Back</button>
	    	<h2 class="page-title">Preview</h2>
		</header>
		</div> --}}

		<h4 style="margin-top: 50px;">IFRAME to individual tools</h4>
		
		{{outlet}}

	</section>
</div>