<div class="page-content">
    <section {{bind-attr class="showSidebar:js-sidebar-enabled:js-sidebar-disabled :content-list :js-content-list"}}>
        <header class="floatingheader">
            <section class="content-filter">
                {{!-- <span {{action "toggleSidebar"}} class="btn btn-green" title="Hide sidebar"}}> HIDE</span> --}}
                <small>Maintenance Tools</small>
            </section>
        </header>

		<section class="content-list-content js-content-scrollbox">        
			<ol class="posts-list">
				<li>
						{{#link-to "maintenance.interlink"}}<span class="maintenance-link">&#9737; INTERLINK</span>{{/link-to}}
				</li>
				<li>
						{{#link-to "maintenance.sdo-graph-explorer"}}<span class="maintenance-link">&#9737; SDO Graph Explorer</span>{{/link-to}}
				</li>
			</ol>
		</section>
	</section>

    <section class="content-preview js-content-preview">
		{{outlet}}
	</section>
</div>