{{duraark-header session=model.session
								 title=model.title
								 showWorkflowSteps=model.showWorkflowSteps
								 activeStep=model.activeStep}}

<div class="l-page-with-header">
	{{outlet}}
</div>
