<div class="l-page-with-header">
  <div class="l-preingest-page">
    {{duraark-header session=preingestState.session title=preingestState.title showWorkflowSteps=preingestState.showWorkflowSteps activeStep=preingestState.activeStep}}

    {{outlet}}

    {{duraark-footer}}
  </div>
</div>
