{{duraark-header session=preingestState.session
								 title=preingestState.title
								 showWorkflowSteps=preingestState.showWorkflowSteps
								 activeStep=preingestState.activeStep}}

<div class="l-page-with-header">
	{{outlet}}
</div>
