{{building-sidebar selectedBuilding="showInViewer"}}

{{x-map places=places}}

{{#if selectedBuildm}}
  {{result-sidebar buildings=buildings}}
{{/if}}

{{#toggle-menu}}
  <nav>
    <ul style="color: black;">
      <li>
        {{#link-to "searchretrieve"}}Advanced Search{{/link-to}}
        <hr>
      </li>
      <li><a href="">Hide/Show Map</a>
        <hr>
      </li>
    </ul>
  </nav>
{{/toggle-menu}}

<!--
<style>
  .search-card-wide.mdl-card {
    display: inline-block;
    width: 400px;
    height: 300px;
  }

  .search-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('images/search.jpg') center / cover;
  }

  .search-card-wide > .mdl-card__menu {
    color: #fff;
  }

  .search-card-wide .mdl-card__title-text {
    color: #000;
    font-weight: bold;
    text-align: right;
  }
</style>

<hr>

<p>Searches:</p>

<br>
<br>

<div class="search-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Buildings completed in 1931</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Retrieve all information on buildings completed in the year 1931. The query uses metadata from an semantic enrichement containing the YAGO categories.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        SEARCH
      </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>

<div class="search-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Skyscrapers in Manhatten</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Retrieve all information on skyscrapers in Manhatten.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        SEARCH
      </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>

<div class="search-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Population statistics for buildings in "Stanley, Idaho"</h2>
  </div>
  <div class="mdl-card__supporting-text">
    This query enriches all buildings located in "Stanley, Idaho" with population statistics from "DBpedia".
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        SEARCH
      </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>

<div class="search-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">"Art Deco" buildings</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Searches for buildings in the SDAS designed by "Ludwig Hoffmann".
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        SEARCH
      </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>

<div class="search-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Searches for information on buildings in Manhatten, including their number or floors.</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Example query to enrich SDAS resource with locations from Geonames.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        SEARCH
      </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>

<div class="search-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Information on buildings in Manhatten</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Searches for information on buildings in Manhatten, including their number or floors.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        SEARCH
      </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div> -->
